markup/pages/add-product.jade
doctype html
html(class="no-js", lang="ru")

    include ../components/head/head
    include ../components/header/header
    include ../components/foot/foot
    include ../components/footer/footer

    head
        +head(head.defaults)
    body.page.fixed-sn
        div.page__wrapper
            div.page__header
                +header('Add product', header)

            <!--Main layout-->
            main
                div.container-fluid
                    div.card.card-block
                        div.card-body.pt-4
                            form(action="#", method="post")
                                div.row.--spaced
                                    div.col.col-md-6.col-12.row__col
                                        div.md-form
                                            label.active(for="item_type") Item type
                                            select(id="item_type")
                                                option(value="") Please select
                                                option(value="1") Type 1
                                                option(value="2") Type 2
                                                option(value="3") Type 3
                                    div.col.col-md-6.col-12.row__col
                                        div.md-form
                                            label.active(for="sales_price") Sales price
                                            input(type="text", placeholder="Price", id="sales_price")
                                    div.col.col-md-6.col-12.row__col
                                        div.md-form
                                            label.active(for="item_name") Item name
                                            input(type="text", placeholder="Item name", id="item_name")
                                    div.col.col-md-6.col-12.row__col
                                        div.md-form.labled-form
                                            i.fa.fa-usd
                                            label.active(for="purchase_price") Purchase price
                                            input(type="text", placeholder="$", value="400", id="purchase_price")
                                    div.col.col-md-6.col-12.row__col
                                        div.md-form
                                            label.active(for="item_category") Item Category
                                            select(id="item_category")
                                                option(value="") Please select
                                                option(value="1") Category 1
                                                option(value="2") Category 2
                                                option(value="3") Category 3
                                    div.col.col-md-6.col-12.row__col
                                        div.md-form
                                            label.active(for="income_account") Income account
                                            select(id="income_account")
                                                option(value="") Please select
                                                option(value="1") Type 1
                                                option(value="2") Type 2
                                                option(value="3") Type 3
                                    div.col.col-md-6.col-12.row__col
                                        div.md-form
                                            label.active(for="item_description") Item description
                                            textarea(placeholder="item description", id="item_description", rows="6", cols="10")
                                    div.col.col-md-6.col-12.row__col
                                        div.md-form
                                            label.active(for="item_photo") Item Photo
                                            div.cupload
                                                label.cupload__imaged.text-muted(for="item_photo")
                                                    i.fa.fa-camera
                                                input(type="file", id="item_photo")
                                    div.col-12.text-right
                                        a.btn.btn-link.text-danger.btn-lg(href="#") Delete
                                        a.btn.btn-primary.btn-lg.px-5(href="#") Save
                                    

            <!--/Main layout-->

        .page__footer
            +footer()

        +foot()

builds/build_ver-Thu_May_04_2017_15_30_14/add-product.html
<!DOCTYPE html>
<html lang="ru" class="no-js">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>default title</title>
        <meta content="" name="description">
        <meta content="" name="keywords">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta content="telephone=no" name="format-detection">
        <meta name="HandheldFriendly" content="true">

        <!--[if (gt IE 9)|!(IE)]><!-->
        <link href="static/css/main.min.css" rel="stylesheet" type="text/css">
        <!--<![endif]-->
        <meta property="og:title" content="default title">
        <meta property="og:title" content="">
        <meta property="og:url" content="">
        <meta property="og:description" content="">
        <meta property="og:image" content="">
        <meta property="og:image:type" content="image/jpeg">
        <meta property="og:image:width" content="500">
        <meta property="og:image:height" content="300">
        <meta property="twitter:description" content="">
        <link rel="image_src" href="">
        <link rel="icon" type="image/x-icon" href="favicon.ico">
        <script>
            (function(H){H.className=H.className.replace(/\bno-js\b/,'js')})(document.documentElement)
        </script>
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700" rel="stylesheet">
    </head>

    <body class="page fixed-sn">
        <div class="page__wrapper">
            <div class="page__header">
                <!--Double navigation-->
                <div class="header">
                    <!-- Sidebar navigation -->
                    <ul id="slide-out" class="side-nav bg-primary custom-scrollbar fixed">
                        <!-- Logo -->
                        <li>
                            <div class="logo-wrapper">
                                <a href="/" class="waves-effect scrolling-navbar"> <span>POS App</span>
                                </a>
                            </div>
                        </li>
                        <!--/. Logo -->
                        <li>
                            <ul class="collapsible collapsible-accordion">
                                <li><a href="dashboard.html" class="waves-effect arrow-r"><i class="fa fa-icon fa-dashboard"></i>Dashboard</a>
                                </li>
                                <li><a href="#" class="collapsible-header waves-effect arrow-r active"><i class="fa fa-icon fa-tag"></i>Sales<i class="fa fa-angle-down rotate-icon"></i></a>
                                    <div class="collapsible-body">
                                        <ul>
                                            <li><a href="add-invoice.html" class="waves-effect"><i class="fa fa-circle-thin"> </i>Add invoice</a>
                                            </li>
                                            <li><a href="view-invoice.html" class="waves-effect"><i class="fa fa-circle-thin"> </i>View invoice</a>
                                            </li>
                                            <li><a href="orders.html" class="waves-effect"><i class="fa fa-circle-thin"> </i>Orders</a>
                                            </li>
                                            <li><a href="add-product.html" class="waves-effect active"><i class="fa fa-circle-thin"> </i>Add product</a>
                                            </li>
                                            <li><a href="pos-1.html" class="waves-effect"><i class="fa fa-circle-thin"> </i>POS</a>
                                            </li>
                                            <li><a href="pos-2.html" class="waves-effect"><i class="fa fa-circle-thin"> </i>POS 2</a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li><a href="#" class="collapsible-header waves-effect arrow-r"><i class="fa fa-icon fa-pencil-square-o"></i>UI Features<i class="fa fa-angle-down rotate-icon"></i></a>
                                    <div class="collapsible-body">
                                        <ul>
                                            <li><a href="bootstrap-grid.html" class="waves-effect"><i class="fa fa-circle-thin"> </i>Bootstrap grid</a>
                                            </li>
                                            <li><a href="colors.html" class="waves-effect"><i class="fa fa-circle-thin"> </i>Colors</a>
                                            </li>
                                            <li><a href="icons-list.html" class="waves-effect"><i class="fa fa-circle-thin"> </i>Icons list</a>
                                            </li>
                                            <li><a href="alerts.html" class="waves-effect"><i class="fa fa-circle-thin"> </i>Alerts</a>
                                            </li>
                                            <li><a href="modals.html" class="waves-effect"><i class="fa fa-circle-thin"> </i>Modals</a>
                                            </li>
                                            <li><a href="buttons.html" class="waves-effect"><i class="fa fa-circle-thin"> </i>Buttons</a>
                                            </li>
                                            <li><a href="social-buttons.html" class="waves-effect"><i class="fa fa-circle-thin"> </i>Social buttons</a>
                                            </li>
                                            <li><a href="typography.html" class="waves-effect"><i class="fa fa-circle-thin"> </i>Typography</a>
                                            </li>
                                            <li><a href="tabs-pills.html" class="waves-effect"><i class="fa fa-circle-thin"> </i>Tabs &amp; Pills</a>
                                            </li>
                                            <li><a href="tags-badges-labels.html" class="waves-effect"><i class="fa fa-circle-thin"> </i>Tags, Badges &amp; Labels</a>
                                            </li>
                                            <li><a href="progress-bars.html" class="waves-effect"><i class="fa fa-circle-thin"> </i>Progress Bars</a>
                                            </li>
                                            <li><a href="waves-effect.html" class="waves-effect"><i class="fa fa-circle-thin"> </i>Waves effect</a>
                                            </li>
                                            <li><a href="tooltips.html" class="waves-effect"><i class="fa fa-circle-thin"> </i>Tooltips</a>
                                            </li>
                                            <li><a href="material-select.html" class="waves-effect"><i class="fa fa-circle-thin"> </i>Panels</a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li><a href="#" class="collapsible-header waves-effect arrow-r"><i class="fa fa-icon fa-pencil-square-o"></i>UI Kits<i class="fa fa-angle-down rotate-icon"></i></a>
                                    <div class="collapsible-body">
                                        <ul>
                                            <li><a href="#" class="waves-effect"><i class="fa fa-circle-thin"> </i>Interface</a>
                                            </li>
                                            <li><a href="#" class="waves-effect"><i class="fa fa-circle-thin"> </i>Tools</a>
                                            </li>
                                            <li><a href="#" class="waves-effect"><i class="fa fa-circle-thin"> </i>Hints and tips</a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li><a href="#" class="collapsible-header waves-effect arrow-r"><i class="fa fa-icon fa-table"></i>Table<i class="fa fa-angle-down rotate-icon"></i></a>
                                    <div class="collapsible-body">
                                        <ul>
                                            <li><a href="#" class="waves-effect"><i class="fa fa-circle-thin"> </i>Database</a>
                                            </li>
                                            <li><a href="#" class="waves-effect"><i class="fa fa-circle-thin"> </i>CSS</a>
                                            </li>
                                            <li><a href="#" class="waves-effect"><i class="fa fa-circle-thin"> </i>Components</a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li><a href="#" class="collapsible-header waves-effect arrow-r"><i class="fa fa-icon fa-wpforms"></i>Add item 2<i class="fa fa-angle-down rotate-icon"></i></a>
                                    <div class="collapsible-body">
                                        <ul>
                                            <li><a href="#" class="waves-effect"><i class="fa fa-circle-thin"> </i>Login</a>
                                            </li>
                                            <li><a href="#" class="waves-effect"><i class="fa fa-circle-thin"> </i>Register</a>
                                            </li>
                                            <li><a href="#" class="waves-effect"><i class="fa fa-circle-thin"> </i>Add new</a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <!--/. Sidebar navigation -->
                    <!--Navbar-->
                    <nav class="navbar fixed-top navbar-toggleable-md navbar-light scrolling-navbar double-nav">
                        <!-- SideNav slide-out button -->
                        <div class="float-left"><a href="#" data-activates="slide-out" class="button-collapse"><i class="fa fa-bars"></i></a>
                        </div>
                        <!-- /SideNav slide-out button -->
                        <!-- Breadcrumb-->
                        <div class="breadcrumb-dn mr-3">
                            <p>Add product</p>
                        </div>
                        <!-- /Breadcrumb-->
                        <!-- nav-bar -->
                        <ul class="nav navbar-nav nav-flex-icons">
                            <li class="nav-item dropdown"><a href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link dropdown-toggle --arrow-down"><i class="fa fa-user-circle"></i><b class="hidden-sm-down">Hi, Nirmala</b></a>
                                <div class="dropdown-menu dropdown-menu-right"><a class="dropdown-item">Account</a><a class="dropdown-item">Orders</a><a class="dropdown-item">Invoice</a><a class="dropdown-item">Logout</a>
                                </div>
                            </li>
                            <!-- /nav-bar -->
                        </ul>
                        <!--/.Navbar-->
                    </nav>
                </div>
                <!--/Double navigation-->
            </div>
            <!--Main layout-->
            <main>
                <div class="container-fluid">
                    <div class="card card-block">
                        <div class="card-body pt-4">
                            <form action="#" method="post">
                                <div class="row --spaced">
                                    <div class="col col-md-6 col-12 row__col">
                                        <div class="md-form">
                                            <label for="item_type" class="active">Item type</label>
                                            <select id="item_type">
                                                <option value="">Please select</option>
                                                <option value="1">Type 1</option>
                                                <option value="2">Type 2</option>
                                                <option value="3">Type 3</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col col-md-6 col-12 row__col">
                                        <div class="md-form">
                                            <label for="sales_price" class="active">Sales price</label>
                                            <input type="text" placeholder="Price" id="sales_price">
                                        </div>
                                    </div>
                                    <div class="col col-md-6 col-12 row__col">
                                        <div class="md-form">
                                            <label for="item_name" class="active">Item name</label>
                                            <input type="text" placeholder="Item name" id="item_name">
                                        </div>
                                    </div>
                                    <div class="col col-md-6 col-12 row__col">
                                        <div class="md-form labled-form"><i class="fa fa-usd"></i>
                                            <label for="purchase_price" class="active">Purchase price</label>
                                            <input type="text" placeholder="$" value="400" id="purchase_price">
                                        </div>
                                    </div>
                                    <div class="col col-md-6 col-12 row__col">
                                        <div class="md-form">
                                            <label for="item_category" class="active">Item Category</label>
                                            <select id="item_category">
                                                <option value="">Please select</option>
                                                <option value="1">Category 1</option>
                                                <option value="2">Category 2</option>
                                                <option value="3">Category 3</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col col-md-6 col-12 row__col">
                                        <div class="md-form">
                                            <label for="income_account" class="active">Income account</label>
                                            <select id="income_account">
                                                <option value="">Please select</option>
                                                <option value="1">Type 1</option>
                                                <option value="2">Type 2</option>
                                                <option value="3">Type 3</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col col-md-6 col-12 row__col">
                                        <div class="md-form">
                                            <label for="item_description" class="active">Item description</label>
                                            <textarea placeholder="item description" id="item_description" rows="6" cols="10"></textarea>
                                        </div>
                                    </div>
                                    <div class="col col-md-6 col-12 row__col">
                                        <div class="md-form">
                                            <label for="item_photo" class="active">Item Photo</label>
                                            <div class="cupload">
                                                <label for="item_photo" class="cupload__imaged text-muted"><i class="fa fa-camera"></i>
                                                </label>
                                                <input type="file" id="item_photo">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 text-right"><a href="#" class="btn btn-link text-danger btn-lg">Delete</a><a href="#" class="btn btn-primary btn-lg px-5">Save</a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </main>
            <!--/Main layout-->
        </div>
        <div class="page__footer">
            <footer class="footer"></footer>
        </div>
        <script src="static/js/separate-js/jquery-3.1.1.min.js"></script>
        <script src="static/js/separate-js/moment.min.js"></script>
        <script src="static/js/separate-js/daterangepicker.js"></script>
        <script src="static/js/separate-js/my.js"></script>
        <script src="static/js/separate-js/holder.min.js"></script>
        <script src="static/js/separate-js/tether.min.js"></script>
        <script src="static/js/separate-js/bootstrap.min.js"></script>
        <script src="static/js/separate-js/mdb.min.js"></script>
        <script src="static/js/separate-js/highcharts.js"></script>
        <script src="static/js/separate-js/highcharts-more.js"></script>
        <script src="static/js/separate-js/highcharts-solid-gauge.js"></script>
        <script src="static/js/separate-js/highcharts-heatmap.js"></script>
        <!--script(src='static/js/separate-js/highcharts-exporting.js')-->
        <script src="static/js/main.min.js"></script>
    </body>

</html>
