builds/build_ver-Thu_May_04_2017_15_30_14/add-invoice.html
<!DOCTYPE html>
<html lang="ru" class="no-js">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>default title</title>
        <meta content="" name="description">
        <meta content="" name="keywords">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta content="telephone=no" name="format-detection">
        <meta name="HandheldFriendly" content="true">

        <!--[if (gt IE 9)|!(IE)]><!-->
        <link href="static/css/main.min.css" rel="stylesheet" type="text/css">
        <!--<![endif]-->
        <meta property="og:title" content="default title">
        <meta property="og:title" content="">
        <meta property="og:url" content="">
        <meta property="og:description" content="">
        <meta property="og:image" content="">
        <meta property="og:image:type" content="image/jpeg">
        <meta property="og:image:width" content="500">
        <meta property="og:image:height" content="300">
        <meta property="twitter:description" content="">
        <link rel="image_src" href="">
        <link rel="icon" type="image/x-icon" href="favicon.ico">
        <script>
            (function(H){H.className=H.className.replace(/\bno-js\b/,'js')})(document.documentElement)
        </script>
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700" rel="stylesheet">
    </head>

    <body class="page fixed-sn">
        <div class="page__wrapper">
            <div class="page__header">
                <!--Double navigation-->
                <div class="header">
                    <!-- Sidebar navigation -->
                    <ul id="slide-out" class="side-nav bg-primary custom-scrollbar fixed">
                        <!-- Logo -->
                        <li>
                            <div class="logo-wrapper">
                                <a href="/" class="waves-effect scrolling-navbar"> <span>POS App</span>
                                </a>
                            </div>
                        </li>
                        <!--/. Logo -->
                        <li>
                            <ul class="collapsible collapsible-accordion">
                                <li><a href="dashboard.html" class="waves-effect arrow-r"><i class="fa fa-icon fa-dashboard"></i>Dashboard</a>
                                </li>
                                <li><a href="#" class="collapsible-header waves-effect arrow-r active"><i class="fa fa-icon fa-tag"></i>Sales<i class="fa fa-angle-down rotate-icon"></i></a>
                                    <div class="collapsible-body">
                                        <ul>
                                            <li><a href="add-invoice.html" class="waves-effect active"><i class="fa fa-circle-thin"> </i>Add invoice</a>
                                            </li>
                                            <li><a href="view-invoice.html" class="waves-effect"><i class="fa fa-circle-thin"> </i>View invoice</a>
                                            </li>
                                            <li><a href="orders.html" class="waves-effect"><i class="fa fa-circle-thin"> </i>Orders</a>
                                            </li>
                                            <li><a href="add-product.html" class="waves-effect"><i class="fa fa-circle-thin"> </i>Add product</a>
                                            </li>
                                            <li><a href="pos-1.html" class="waves-effect"><i class="fa fa-circle-thin"> </i>POS</a>
                                            </li>
                                            <li><a href="pos-2.html" class="waves-effect"><i class="fa fa-circle-thin"> </i>POS 2</a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li><a href="#" class="collapsible-header waves-effect arrow-r"><i class="fa fa-icon fa-pencil-square-o"></i>UI Features<i class="fa fa-angle-down rotate-icon"></i></a>
                                    <div class="collapsible-body">
                                        <ul>
                                            <li><a href="bootstrap-grid.html" class="waves-effect"><i class="fa fa-circle-thin"> </i>Bootstrap grid</a>
                                            </li>
                                            <li><a href="colors.html" class="waves-effect"><i class="fa fa-circle-thin"> </i>Colors</a>
                                            </li>
                                            <li><a href="icons-list.html" class="waves-effect"><i class="fa fa-circle-thin"> </i>Icons list</a>
                                            </li>
                                            <li><a href="alerts.html" class="waves-effect"><i class="fa fa-circle-thin"> </i>Alerts</a>
                                            </li>
                                            <li><a href="modals.html" class="waves-effect"><i class="fa fa-circle-thin"> </i>Modals</a>
                                            </li>
                                            <li><a href="buttons.html" class="waves-effect"><i class="fa fa-circle-thin"> </i>Buttons</a>
                                            </li>
                                            <li><a href="social-buttons.html" class="waves-effect"><i class="fa fa-circle-thin"> </i>Social buttons</a>
                                            </li>
                                            <li><a href="typography.html" class="waves-effect"><i class="fa fa-circle-thin"> </i>Typography</a>
                                            </li>
                                            <li><a href="tabs-pills.html" class="waves-effect"><i class="fa fa-circle-thin"> </i>Tabs &amp; Pills</a>
                                            </li>
                                            <li><a href="tags-badges-labels.html" class="waves-effect"><i class="fa fa-circle-thin"> </i>Tags, Badges &amp; Labels</a>
                                            </li>
                                            <li><a href="progress-bars.html" class="waves-effect"><i class="fa fa-circle-thin"> </i>Progress Bars</a>
                                            </li>
                                            <li><a href="waves-effect.html" class="waves-effect"><i class="fa fa-circle-thin"> </i>Waves effect</a>
                                            </li>
                                            <li><a href="tooltips.html" class="waves-effect"><i class="fa fa-circle-thin"> </i>Tooltips</a>
                                            </li>
                                            <li><a href="material-select.html" class="waves-effect"><i class="fa fa-circle-thin"> </i>Panels</a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li><a href="#" class="collapsible-header waves-effect arrow-r"><i class="fa fa-icon fa-pencil-square-o"></i>UI Kits<i class="fa fa-angle-down rotate-icon"></i></a>
                                    <div class="collapsible-body">
                                        <ul>
                                            <li><a href="#" class="waves-effect"><i class="fa fa-circle-thin"> </i>Interface</a>
                                            </li>
                                            <li><a href="#" class="waves-effect"><i class="fa fa-circle-thin"> </i>Tools</a>
                                            </li>
                                            <li><a href="#" class="waves-effect"><i class="fa fa-circle-thin"> </i>Hints and tips</a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li><a href="#" class="collapsible-header waves-effect arrow-r"><i class="fa fa-icon fa-table"></i>Table<i class="fa fa-angle-down rotate-icon"></i></a>
                                    <div class="collapsible-body">
                                        <ul>
                                            <li><a href="#" class="waves-effect"><i class="fa fa-circle-thin"> </i>Database</a>
                                            </li>
                                            <li><a href="#" class="waves-effect"><i class="fa fa-circle-thin"> </i>CSS</a>
                                            </li>
                                            <li><a href="#" class="waves-effect"><i class="fa fa-circle-thin"> </i>Components</a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li><a href="#" class="collapsible-header waves-effect arrow-r"><i class="fa fa-icon fa-wpforms"></i>Add item 2<i class="fa fa-angle-down rotate-icon"></i></a>
                                    <div class="collapsible-body">
                                        <ul>
                                            <li><a href="#" class="waves-effect"><i class="fa fa-circle-thin"> </i>Login</a>
                                            </li>
                                            <li><a href="#" class="waves-effect"><i class="fa fa-circle-thin"> </i>Register</a>
                                            </li>
                                            <li><a href="#" class="waves-effect"><i class="fa fa-circle-thin"> </i>Add new</a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <!--/. Sidebar navigation -->
                    <!--Navbar-->
                    <nav class="navbar fixed-top navbar-toggleable-md navbar-light scrolling-navbar double-nav">
                        <!-- SideNav slide-out button -->
                        <div class="float-left"><a href="#" data-activates="slide-out" class="button-collapse"><i class="fa fa-bars"></i></a>
                        </div>
                        <!-- /SideNav slide-out button -->
                        <!-- Breadcrumb-->
                        <div class="breadcrumb-dn mr-3">
                            <p>Add invoice</p>
                        </div>
                        <!-- /Breadcrumb-->
                        <!-- nav-bar -->
                        <ul class="nav navbar-nav nav-flex-icons">
                            <li class="nav-item dropdown"><a href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link dropdown-toggle --arrow-down"><i class="fa fa-user-circle"></i><b class="hidden-sm-down">Hi, Nirmala</b></a>
                                <div class="dropdown-menu dropdown-menu-right"><a class="dropdown-item">Account</a><a class="dropdown-item">Orders</a><a class="dropdown-item">Invoice</a><a class="dropdown-item">Logout</a>
                                </div>
                            </li>
                            <!-- /nav-bar -->
                        </ul>
                        <!--/.Navbar-->
                    </nav>
                </div>
                <!--/Double navigation-->
            </div>
            <!--Main layout-->
            <main>
                <div class="container-fluid">
                    <div class="card">
                        <div class="card-body pt-4">
                            <div class="card-block">
                                <div class="row mb-5">
                                    <div class="col col-md-8 col-12">
                                        <div class="row --spaced --min">
                                            <div class="col col-md-7 col-12 row__col">
                                                <div class="md-form">
                                                    <label for="item_type" class="active">Customer</label>
                                                    <select id="item_type" class="text-muted">
                                                        <option value="">Please select</option>
                                                        <option value="1">John Doe</option>
                                                        <option value="2">Bekzod Ruzmetov</option>
                                                        <option value="3">Khurshid Atajiev</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row --spaced --min">
                                            <div class="col col-md-4 col-6 row__col">
                                                <label for="invoice_no">Invoice No.</label>
                                                <input type="text" placeholder="Item name" id="invoice_no" class="form-control form-control-lg text-muted">
                                            </div>
                                            <div class="col col-md-4 col-6 row__col">
                                                <label for="terms">Terms.</label>
                                                <select id="terms" class="form-control form-control-lg text-muted">
                                                    <option value="">Please select</option>
                                                    <option value="1">NET 30</option>
                                                    <option value="2">NET 40</option>
                                                    <option value="3">NET 50</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="row --spaced --min">
                                            <div class="col col-md-4 col-6 row__col">
                                                <label for="issued_date">Issued Date</label>
                                                <input type="text" id="issued_date" value="4 April, 2017" class="form-control form-control-lg datepicker text-muted">
                                            </div>
                                            <div class="col col-md-4 col-6 row__col">
                                                <label for="po_no">PO No.</label>
                                                <input type="text" id="po_no" placeholder="PO-1892" class="form-control form-control-lg text-muted">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col col-md-4 col-12 brd-side --brd-left --brd-color-muted">
                                        <div class="pl-md-5">
                                            <div class="mb-4 pt-2 lead-sm b">
                                                <div class="text-muted mb-1">FROM</div>
                                                <p><b>Tamano LLC</b>
                                                    <br><span class="text-muted">3302 Wall Street,<br>Carson City, Nevada 89129<br>+1 (754) 423-9801</span>
                                                </p>
                                            </div>
                                            <div class="lead-sm b">
                                                <div class="text-muted mb-1">TO</div>
                                                <p><b>Tamano LLC</b>
                                                    <br><span class="text-muted">3302 Wall Street,<br>Carson City, Nevada 89129<br>+1 (754) 423-9801</span>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="table-responsive fixed-size mb-5">
                                <table class="table table-clear mb-0 --no-last-brd">
                                    <thead>
                                        <tr>
                                            <th class="text-left">
                                                <div class="px-3 pb-2">ITEM</div>
                                            </th>
                                            <th style="width: 140px;">
                                                <div class="pb-2">QUANTITY</div>
                                            </th>
                                            <th style="width: 170px;">
                                                <div class="pb-2">PRICE</div>
                                            </th>
                                            <th style="width: 140px;">
                                                <div class="pb-2">DISCOUNT</div>
                                            </th>
                                            <th style="width: 170px;">
                                                <div class="pb-2">TAX</div>
                                            </th>
                                            <th style="width: 150px;" class="text-right">
                                                <div class="px-3 pb-2">LINE TOTAL</div>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <div class="md-form my-0 mx-3">
                                                    <select class="my-0">
                                                        <option value="">Please select</option>
                                                        <option value="1">Iphone 7 Plus</option>
                                                        <option value="2">Iphone 7</option>
                                                        <option value="3">MacBook Pro Ram 8Gb</option>
                                                    </select>
                                                </div>
                                            </td>
                                            <td class="text-center">
                                                <div class="px-2">
                                                    <input type="text" placeholder="Item name" value="2" size="1" class="form-control form-control-lg text-muted text-center">
                                                </div>
                                            </td>
                                            <td class="text-center">
                                                <div class="px-2">
                                                    <input type="text" placeholder="Item name" value="$800" size="1" class="form-control form-control-lg text-muted text-center">
                                                </div>
                                            </td>
                                            <td class="text-center">
                                                <div class="px-2">
                                                    <input type="text" placeholder="Item name" value="-5%" size="1" class="form-control form-control-lg text-muted text-center">
                                                </div>
                                            </td>
                                            <td class="text-center">
                                                <div class="px-2">
                                                    <select class="form-control form-control-lg text-muted">
                                                        <option value="">NET 30</option>
                                                        <option value="1">NET 40</option>
                                                        <option value="2">NET 50</option>
                                                        <option value="3">NET 60</option>
                                                    </select>
                                                </div>
                                            </td>
                                            <td class="text-right">
                                                <div class="px-3"><span class="lead-sm">$800</span>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="md-form my-0 px-3">
                                                    <select class="my-0">
                                                        <option value="">Please select</option>
                                                        <option value="1">Iphone 7 Plus</option>
                                                        <option value="2">Iphone 7</option>
                                                        <option value="3">Khurshid Atajiev</option>
                                                    </select>
                                                </div>
                                            </td>
                                            <td class="text-center">
                                                <div class="px-2">
                                                    <input type="text" placeholder="Item name" value="2" size="1" class="form-control form-control-lg text-muted text-center">
                                                </div>
                                            </td>
                                            <td class="text-center">
                                                <div class="px-2">
                                                    <input type="text" placeholder="Item name" value="$800" size="1" class="form-control form-control-lg text-muted text-center">
                                                </div>
                                            </td>
                                            <td class="text-center">
                                                <div class="px-2">
                                                    <input type="text" placeholder="Item name" value="-5%" size="1" class="form-control form-control-lg text-muted text-center">
                                                </div>
                                            </td>
                                            <td class="text-center">
                                                <div class="px-2">
                                                    <select class="form-control form-control-lg text-muted">
                                                        <option value="">NET 30</option>
                                                        <option value="1">NET 40</option>
                                                        <option value="2">NET 50</option>
                                                        <option value="3">NET 60</option>
                                                    </select>
                                                </div>
                                            </td>
                                            <td class="text-right">
                                                <div class="px-3"><span class="lead-sm">$800</span>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="card-block pt-0">
                                <div class="mb-4"><a href="#" class="btn btn-success"><i class="fa fa-plus mr-2"></i>Add Item</a>
                                </div>
                                <div class="text-right lead-sm mb-3">
                                    <div class="d-inline-block subtotal-calc">
                                        <div class="row mb-2">
                                            <div class="col col-6 text-muted text-left">SUBTOTAL</div>
                                            <div class="col col-6">$1,129.90</div>
                                        </div>
                                        <div class="row">
                                            <div class="col col-6 text-muted text-left">TAX</div>
                                            <div class="col col-6">$129.90</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="text-right mb-3"><b class="d-inline-block mr-4 lead">GRAND TOTAL</b><b class="d-inline-block lead text-primary">$1.129.00</b>
                                </div>
                                <div class="text-right"><a href="#" class="btn btn-link btn-lg text-danger">Delete</a><a href="#" class="btn btn-lg btn-primary">Save</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
            <!--/Main layout-->
        </div>
        <div class="page__footer">
            <footer class="footer"></footer>
        </div>
        <script src="static/js/separate-js/jquery-3.1.1.min.js"></script>
        <script src="static/js/separate-js/moment.min.js"></script>
        <script src="static/js/separate-js/daterangepicker.js"></script>
        <script src="static/js/separate-js/my.js"></script>
        <script src="static/js/separate-js/holder.min.js"></script>
        <script src="static/js/separate-js/tether.min.js"></script>
        <script src="static/js/separate-js/bootstrap.min.js"></script>
        <script src="static/js/separate-js/mdb.min.js"></script>
        <script src="static/js/separate-js/highcharts.js"></script>
        <script src="static/js/separate-js/highcharts-more.js"></script>
        <script src="static/js/separate-js/highcharts-solid-gauge.js"></script>
        <script src="static/js/separate-js/highcharts-heatmap.js"></script>
        <!--script(src='static/js/separate-js/highcharts-exporting.js')-->
        <script src="static/js/main.min.js"></script>
    </body>

</html>

markup/pages/add-invoice.jade
doctype html
html(class="no-js", lang="ru")

    include ../components/head/head
    include ../components/header/header
    include ../components/foot/foot
    include ../components/footer/footer

    head
        +head(head.defaults)
    body.page.fixed-sn
        div.page__wrapper
            div.page__header
                +header('Add invoice', header)

            <!--Main layout-->
            main
                div.container-fluid
                    div.card
                        div.card-body.pt-4
                            div.card-block
                                div.row.mb-5
                                    div.col.col-md-8.col-12
                                        div.row.--spaced.--min
                                            div.col.col-md-7.col-12.row__col
                                                div.md-form
                                                    label.active(for="item_type") Customer
                                                    select.text-muted(id="item_type")
                                                        option(value="") Please select
                                                        option(value="1") John Doe
                                                        option(value="2") Bekzod Ruzmetov
                                                        option(value="3") Khurshid Atajiev
                                        div.row.--spaced.--min
                                            div.col.col-md-4.col-6.row__col
                                                label(for="invoice_no") Invoice No.
                                                input.form-control.form-control-lg.text-muted(type="text", placeholder="Item name", id="invoice_no")
                                            div.col.col-md-4.col-6.row__col
                                                label(for="terms") Terms.
                                                select.form-control.form-control-lg.text-muted(id="terms")
                                                    option(value="") Please select
                                                    option(value="1") NET 30
                                                    option(value="2") NET 40
                                                    option(value="3") NET 50
                                        div.row.--spaced.--min
                                            div.col.col-md-4.col-6.row__col
                                                label(for="issued_date") Issued Date
                                                input.form-control.form-control-lg.datepicker.text-muted(type="text", id="issued_date", value="4 April, 2017")
                                            div.col.col-md-4.col-6.row__col
                                                label(for="po_no") PO No.
                                                input.form-control.form-control-lg.text-muted(type="text", id="po_no", placeholder="PO-1892")
                                    div.col.col-md-4.col-12.brd-side.--brd-left.--brd-color-muted
                                        div.pl-md-5
                                            div.mb-4.pt-2.lead-sm.b
                                                div.text-muted.mb-1 FROM
                                                p
                                                    b Tamano LLC
                                                    br
                                                    span.text-muted
                                                        |3302 Wall Street,
                                                        br
                                                        |Carson City, Nevada 89129
                                                        br
                                                        |+1 (754) 423-9801
                                            div.lead-sm.b
                                                div.text-muted.mb-1 TO
                                                p
                                                    b Tamano LLC
                                                    br
                                                    span.text-muted
                                                        |3302 Wall Street,
                                                        br
                                                        |Carson City, Nevada 89129
                                                        br
                                                        |+1 (754) 423-9801

                            div.table-responsive.fixed-size.mb-5
                                table.table.table-clear.mb-0.--no-last-brd
                                    thead
                                        tr
                                            th.text-left
                                                div.px-3.pb-2 ITEM
                                            th(style="width: 140px;")
                                                div.pb-2 QUANTITY
                                            th(style="width: 170px;")
                                                div.pb-2 PRICE
                                            th(style="width: 140px;")
                                                div.pb-2 DISCOUNT
                                            th(style="width: 170px;")
                                                div.pb-2 TAX
                                            th(style="width: 150px;").text-right 
                                                div.px-3.pb-2 LINE TOTAL
                                    tbody
                                        tr
                                            td
                                                div.md-form.my-0.mx-3
                                                    select.my-0
                                                        option(value="") Please select
                                                        option(value="1") Iphone 7 Plus
                                                        option(value="2") Iphone 7
                                                        option(value="3") MacBook Pro Ram 8Gb
                                            td.text-center
                                                div.px-2
                                                    input.form-control.form-control-lg.text-muted.text-center(type="text", placeholder="Item name", value="2", size="1")
                                            td.text-center
                                                div.px-2
                                                    input.form-control.form-control-lg.text-muted.text-center(type="text", placeholder="Item name", value="$800", size="1")
                                            td.text-center
                                                div.px-2
                                                    input.form-control.form-control-lg.text-muted.text-center(type="text", placeholder="Item name", value="-5%", size="1")
                                            td.text-center
                                                div.px-2
                                                    select.form-control.form-control-lg.text-muted
                                                        option(value="") NET 30
                                                        option(value="1") NET 40
                                                        option(value="2") NET 50
                                                        option(value="3") NET 60
                                            td.text-right
                                                div.px-3
                                                    span.lead-sm $800
                                        tr
                                            td
                                                div.md-form.my-0.px-3
                                                    select.my-0
                                                        option(value="") Please select
                                                        option(value="1") Iphone 7 Plus
                                                        option(value="2") Iphone 7
                                                        option(value="3") Khurshid Atajiev
                                            td.text-center
                                                div.px-2
                                                    input.form-control.form-control-lg.text-muted.text-center(type="text", placeholder="Item name", value="2", size="1")
                                            td.text-center
                                                div.px-2
                                                    input.form-control.form-control-lg.text-muted.text-center(type="text", placeholder="Item name", value="$800", size="1")
                                            td.text-center
                                                div.px-2
                                                    input.form-control.form-control-lg.text-muted.text-center(type="text", placeholder="Item name", value="-5%", size="1")
                                            td.text-center
                                                div.px-2
                                                    select.form-control.form-control-lg.text-muted
                                                        option(value="") NET 30
                                                        option(value="1") NET 40
                                                        option(value="2") NET 50
                                                        option(value="3") NET 60
                                            td.text-right 
                                                div.px-3
                                                    span.lead-sm $800

                            div.card-block.pt-0
                                div.mb-4
                                    a.btn.btn-success(href="#")
                                        i.fa.fa-plus.mr-2
                                        |Add Item

                                div.text-right.lead-sm.mb-3
                                    div.d-inline-block.subtotal-calc
                                        div.row.mb-2
                                            div.col.col-6.text-muted.text-left SUBTOTAL
                                            div.col.col-6 $1,129.90
                                        div.row
                                            div.col.col-6.text-muted.text-left TAX
                                            div.col.col-6 $129.90

                                div.text-right.mb-3
                                    b.d-inline-block.mr-4.lead GRAND TOTAL
                                    b.d-inline-block.lead.text-primary $1.129.00


                                div.text-right
                                    a.btn.btn-link.btn-lg.text-danger(href="#") Delete
                                    a.btn.btn-lg.btn-primary(href="#") Save
            <!--/Main layout-->

        .page__footer
            +footer()

        +foot()
