markup/pages/dashboard.jade
doctype html
html(class="no-js", lang="ru")

    include ../components/head/head
    include ../components/header/header
    include ../components/foot/foot
    include ../components/footer/footer

    head
        +head(head.defaults)
    body.page.fixed-sn
        div.page__wrapper
            div.page__header
                +header('Dashboard', header)

            <!--Main layout-->
            main.wider
                div.container-fluid
                    div.row.--spaced
                        div.col-xl-4.col-lg-6.col-12.row__col
                            div.card.card-block.h-100
                                heaer.card__header
                                    b.card__title NPS
                                div.card-body.h-100
                                    div(id="myChart-1", style="height:200px; width: 100%")
                                    div.mb-3(id="myChart-1-2", style="height:150px; width: 100%")

                                    small.text-muted NPS standx for Not Promote Score
                        div.col-xl-4.col-lg-6.col-12.row__col
                            div.card.card-block.h-100
                                heaer.card__header
                                    div.row
                                        div.col.col-auto
                                            b.card__title Top Items
                                        div.col.text-right
                                            span.badge.badge-default.text-default.mr-3.dropdown 
                                                a.dropdown-toggle.--arrow-down.text-default(href="#", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false") $
                                                div.dropdown-menu
                                                    a.dropdown-item.active.text-white $
                                                    a.dropdown-item qty
                                            input.daterange(type="daterange", name="daterange", data-position="left", id="top_items")
                                            label(for="top_items")
                                                i.fa.fa-angle-down
                                div.card-body.h-100
                                    div.mb-3(id="myChart-2", style="height:350px; width: 100%")

                                    div.row
                                        div.col-sm-7
                                            small.text-muted NPS standx for Not Promote Score
                                        div.col.text-md-right
                                            small.text-muted 
                                                b
                                                    a(href="#") More Products
                        div.col-xl-4.col-12.row__col
                            div.card.card-block.h-100
                                heaer.card__header
                                    b.card__title Sales Statistics
                                div.card-body.h-100
                                    div.row.mb-3
                                        div.col
                                            div.row
                                                div.col-6 
                                                    span.lead-sm ORDERS
                                                div.col-6.text-right 
                                                    small TODAY
                                                div.col-12 
                                                    div.lead-huge.text-danger.py-2
                                                        strong 8
                                                div.col-6 TOTAL
                                                div.col-6.text-right WEEK
                                                div.col-6 
                                                    span.text-danger 2,500
                                                div.col-6.text-right
                                                    span.text-danger 20
                                        div.col.brd-side.--brd-left
                                            div.row
                                                div.col-6 
                                                    span.lead-sm ORDERS
                                                div.col-6.text-right TODAY
                                                div.col-12 
                                                    div.lead-huge.text-warning.py-2
                                                        strong $8.9K
                                                div.col-6 
                                                    small TOTAL
                                                div.col-6.text-right WEEK
                                                div.col-6 
                                                    span.text-warning 2,500
                                                div.col-6.text-right
                                                    span.text-warning 20

                                    div.mb-3(id="myChart-3", style="height:208px; width: 100%")

                                    small.text-muted NPS standx for Not Promote Score
                        div.col-xl-5.col-12.row__col
                            div.card.card-block.h-100
                                heaer.card__header
                                    div.row
                                        div.col.col-auto
                                            b.card__title Top Sales Reps
                                        div.col.text-right
                                            span.badge.badge-default.text-default.mr-3.dropdown 
                                                a.dropdown-toggle.--arrow-down.text-default(href="#", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false") $
                                                div.dropdown-menu
                                                    a.dropdown-item.active.text-white $
                                                    a.dropdown-item qty
                                            input.daterange(type="daterange", name="daterange", data-position="center", id="top_sales_reps")
                                            label(for="top_sales_reps")
                                                i.fa.fa-angle-down
                                div.card-body.h-100
                                    div.mb-3(id="myChart-4", style="height:300px; width: 100%")

                                    small.text-muted NPS standx for Not Promote Score
                        div.col-xl-7.col-12.row__col
                            div.card.card-block.h-100
                                heaer.card__header
                                    b.card__title Two Year Performance
                                div.card-body.h-100
                                    div.mb-3(id="myChart-5", style="height:270px; width: 100%")

                                    div.d-flex.justify-content-between.mb-3
                                        div
                                            div.d-flex.justify-content-between
                                                div.text-muted Sales
                                                div.mx-3 $400k
                                                div
                                                    span.badge.badge-success
                                                        i.fa.fa-angle-down.mr-1
                                                        |8.5%
                                        div
                                            div.d-flex.justify-content-between
                                                div.text-muted Cost
                                                div.mx-3 -$200k
                                                div
                                                    span.badge.badge-success
                                                        i.fa.fa-angle-up.mr-1
                                                        |5.6%
                                        div
                                            div.d-flex.justify-content-between
                                                div.text-muted Profit
                                                div.mx-3 -$80k
                                                div
                                                    span.badge.badge-danger
                                                        i.fa.fa-angle-down.mr-1
                                                        |5.6%


                                    small.text-muted NPS standx for Not Promote Score
                        div.col-xl-7.col-12.row__col
                            div.card.card-block.h-100
                                heaer.card__header
                                    div.row
                                        div.col.col-auto
                                            b.card__title Sales per Staff per Weekday
                                        div.col.text-right
                                            span.badge.badge-default.text-default.mr-3.dropdown 
                                                a.dropdown-toggle.--arrow-down.text-default(href="#", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false") qty
                                                div.dropdown-menu
                                                    a.dropdown-item.active.text-white qty
                                                    a.dropdown-item $
                                            input.daterange(type="daterange", name="daterange", data-position="center", id="sales_per_staff_per_weekday")
                                            label(for="sales_per_staff_per_weekday")
                                                i.fa.fa-angle-down
                                div.card-body.h-100
                                    div(id="myChart-6", style="height:380px; width: 100%")
                        div.col-xl-5.col-md-6.row__col
                            div.card.card-block.h-100
                                div.card-body.h-100
                                    div.uchat
                                        div.row.uchat__credential
                                            div.col
                                                div.uchat__interlocutor
                                                    div.uchat__interlocutor-img
                                                        img.rounded-circle.mr-2(data-src="holder.js/40x40?auto=yes&theme=sky", alt="Nirmala", height="40", width="40")
                                                        uchat__interlocutor-status.bg-primary
                                                    span.d-inline-block Gista Putri
                                            div.col.col-auto
                                                div.md-form.iconed-field.--left
                                                    i.fa.fa-search.text-muted
                                                    input.form-control.no-brd(type="text", placeholder="Search")

                                        div.uchat__messsages(style="height:280px")
                                            div.text-left
                                                div.uchat__messsage.--partner
                                                    div.uchat__text.bg-primary.text-white
                                                        p Hello, baby
                                                        p are you free tonight ?
                                                    div.text-right 2:10 PM
                                            div.text-right
                                                div.uchat__messsage.--mine
                                                    div.uchat__text.bg-secondary
                                                        p Hi!!!! yes maybe
                                                    div.text-left 2:11 PM
                                            div.text-left
                                                div.uchat__messsage.--partner
                                                    div.uchat__text.bg-primary.text-white
                                                        p Okay I pickup you at 8 PM
                                                    div.text-right 2:12 PM
                                            div.text-right
                                                div.uchat__messsage.--mine
                                                    div.uchat__text.bg-secondary
                                                        p Hi!!!! yes maybe
                                                    div.text-left 2:11 PM
                                            div.text-left
                                                div.uchat__messsage.--partner
                                                    div.uchat__text.bg-primary.text-white
                                                        p Okay I pickup you at 8 PM
                                                    div.text-right 2:12 PM

                                        div.md-form.iconed-field.--right.my-0
                                            button(type="button")
                                                i.fa.fa-send.text-primary
                                            input.my-0(type="text", placeholder="Type your message")
                        div.col-xl-7.col-md-6.col-12.row__col
                            div.card.card-block.h-100
                                heaer.card__header
                                    b.card__title Satisfaction by Age Group
                                div.card-body.h-100
                                    div.row
                                        div.col
                                            div(id="myChart-7", style="height:320px; width: 100%")
                                        div.col
                                            div(id="myChart-7-2", style="height:320px; width: 100%")
                                        div.col
                                            div(id="myChart-7-3", style="height:320px; width: 100%")
                                        div.col
                                            div(id="myChart-7-4", style="height:320px; width: 100%")
                        div.col-xl-5.col-12.row__col
                            div.card.card-block.h-100
                                heaer.card__header
                                    b.card__title Customer Profile
                                div.card-body.h-100
                                    div(id="myChart-8", style="height:350px; width: 100%")

            <!--/Main layout-->

        .page__footer
            +footer()

        +foot()

builds/build_ver-Sun_Apr_30_2017_18_03_10/dashboard.html
<!DOCTYPE html>
<html lang="ru" class="no-js">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>default title</title>
        <meta content="" name="description">
        <meta content="" name="keywords">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta content="telephone=no" name="format-detection">
        <meta name="HandheldFriendly" content="true">

        <!--[if (gt IE 9)|!(IE)]><!-->
        <link href="static/css/main.min.css" rel="stylesheet" type="text/css">
        <!--<![endif]-->
        <meta property="og:title" content="default title">
        <meta property="og:title" content="">
        <meta property="og:url" content="">
        <meta property="og:description" content="">
        <meta property="og:image" content="">
        <meta property="og:image:type" content="image/jpeg">
        <meta property="og:image:width" content="500">
        <meta property="og:image:height" content="300">
        <meta property="twitter:description" content="">
        <link rel="image_src" href="">
        <link rel="icon" type="image/x-icon" href="favicon.ico">
        <script>
            (function(H){H.className=H.className.replace(/\bno-js\b/,'js')})(document.documentElement)
        </script>
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700" rel="stylesheet">
    </head>

    <body class="page fixed-sn">
        <div class="page__wrapper">
            <div class="page__header">
                <!--Double navigation-->
                <div class="header">
                    <!-- Sidebar navigation -->
                    <ul id="slide-out" class="side-nav bg-primary custom-scrollbar fixed">
                        <!-- Logo -->
                        <li>
                            <div class="logo-wrapper">
                                <a href="/" class="waves-effect scrolling-navbar"> <span>POS App</span>
                                </a>
                            </div>
                        </li>
                        <!--/. Logo -->
                        <li>
                            <ul class="collapsible collapsible-accordion">
                                <li class="selected"><a href="#" class="waves-effect arrow-r"><i class="fa fa-icon fa-dashboard"></i>Dashboard</a>
                                </li>
                                <li><a href="#" class="collapsible-header waves-effect arrow-r"><i class="fa fa-icon fa-tag"></i>Sales<i class="fa fa-angle-down rotate-icon"></i></a>
                                    <div class="collapsible-body">
                                        <ul>
                                            <li><a href="#" class="waves-effect"><i class="fa fa-circle-thin"> </i>POS</a>
                                            </li>
                                            <li><a href="#" class="waves-effect"><i class="fa fa-circle-thin"> </i>Orders</a>
                                            </li>
                                            <li><a href="#" class="waves-effect"><i class="fa fa-circle-thin"> </i>Invoice</a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li><a href="#" class="collapsible-header waves-effect arrow-r"><i class="fa fa-icon fa-square-o"></i>Products<i class="fa fa-angle-down rotate-icon"></i></a>
                                    <div class="collapsible-body">
                                        <ul>
                                            <li><a href="#" class="waves-effect"><i class="fa fa-circle-thin"> </i>Product 1</a>
                                            </li>
                                            <li><a href="#" class="waves-effect"><i class="fa fa-circle-thin"> </i>Product 2</a>
                                            </li>
                                            <li><a href="#" class="waves-effect"><i class="fa fa-circle-thin"> </i>Product 3</a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li><a href="#" class="collapsible-header waves-effect arrow-r"><i class="fa fa-icon fa-pencil-square-o"></i>UI Kits<i class="fa fa-angle-down rotate-icon"></i></a>
                                    <div class="collapsible-body">
                                        <ul>
                                            <li><a href="#" class="waves-effect"><i class="fa fa-circle-thin"> </i>Interface</a>
                                            </li>
                                            <li><a href="#" class="waves-effect"><i class="fa fa-circle-thin"> </i>Tools</a>
                                            </li>
                                            <li><a href="#" class="waves-effect"><i class="fa fa-circle-thin"> </i>Hints and tips</a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li><a href="#" class="collapsible-header waves-effect arrow-r"><i class="fa fa-icon fa-table"></i>Table<i class="fa fa-angle-down rotate-icon"></i></a>
                                    <div class="collapsible-body">
                                        <ul>
                                            <li><a href="#" class="waves-effect"><i class="fa fa-circle-thin"> </i>Database</a>
                                            </li>
                                            <li><a href="#" class="waves-effect"><i class="fa fa-circle-thin"> </i>CSS</a>
                                            </li>
                                            <li><a href="#" class="waves-effect"><i class="fa fa-circle-thin"> </i>Components</a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li><a href="#" class="collapsible-header waves-effect arrow-r"><i class="fa fa-icon fa-wpforms"></i>Add item<i class="fa fa-angle-down rotate-icon"></i></a>
                                    <div class="collapsible-body">
                                        <ul>
                                            <li><a href="#" class="waves-effect"><i class="fa fa-circle-thin"> </i>Login</a>
                                            </li>
                                            <li><a href="#" class="waves-effect"><i class="fa fa-circle-thin"> </i>Register</a>
                                            </li>
                                            <li><a href="#" class="waves-effect"><i class="fa fa-circle-thin"> </i>Add new</a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <!--/. Sidebar navigation -->
                    <!--Navbar-->
                    <nav class="navbar fixed-top navbar-toggleable-md navbar-light scrolling-navbar double-nav">
                        <!-- SideNav slide-out button -->
                        <div class="float-left"><a href="#" data-activates="slide-out" class="button-collapse"><i class="fa fa-bars"></i></a>
                        </div>
                        <!-- /SideNav slide-out button -->
                        <!-- Breadcrumb-->
                        <div class="breadcrumb-dn mr-3">
                            <p>Dashboard</p>
                        </div>
                        <!-- /Breadcrumb-->
                        <!-- nav-bar -->
                        <ul class="nav navbar-nav nav-flex-icons">
                            <li class="nav-item dropdown"><a href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link dropdown-toggle --arrow-down"><i class="fa fa-user-circle"></i><b class="hidden-sm-down">Hi, Nirmala</b></a>
                                <div class="dropdown-menu dropdown-menu-right"><a class="dropdown-item">Account</a><a class="dropdown-item">Orders</a><a class="dropdown-item">Invoice</a><a class="dropdown-item">Logout</a>
                                </div>
                            </li>
                            <!-- /nav-bar -->
                        </ul>
                        <!--/.Navbar-->
                    </nav>
                </div>
                <!--/Double navigation-->
            </div>
            <!--Main layout-->
            <main class="wider">
                <div class="container-fluid">
                    <div class="row --spaced">
                        <div class="col-xl-4 col-lg-6 col-12 row__col">
                            <div class="card card-block h-100">
                                <heaer class="card__header"><b class="card__title">NPS</b>
                                </heaer>
                                <div class="card-body h-100">
                                    <div id="myChart-1" style="height:200px; width: 100%"></div>
                                    <div id="myChart-1-2" style="height:150px; width: 100%" class="mb-3"></div><small class="text-muted">NPS standx for Not Promote Score</small>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-6 col-12 row__col">
                            <div class="card card-block h-100">
                                <heaer class="card__header">
                                    <div class="row">
                                        <div class="col col-auto"><b class="card__title">Top Items</b>
                                        </div>
                                        <div class="col text-right"><span class="badge badge-default text-default mr-3">$</span>
                                            <input type="daterange" name="daterange" data-position="left" id="top_items" class="daterange">
                                            <label for="top_items"><i class="fa fa-angle-down"></i>
                                            </label>
                                        </div>
                                    </div>
                                </heaer>
                                <div class="card-body h-100">
                                    <div id="myChart-2" style="height:350px; width: 100%" class="mb-3"></div>
                                    <div class="row">
                                        <div class="col-sm-7"><small class="text-muted">NPS standx for Not Promote Score</small>
                                        </div>
                                        <div class="col text-md-right"><small class="text-muted"> <b><a href="#">More Products</a></b></small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-12 row__col">
                            <div class="card card-block h-100">
                                <heaer class="card__header"><b class="card__title">Sales Statistics</b>
                                </heaer>
                                <div class="card-body h-100">
                                    <div class="row mb-3">
                                        <div class="col">
                                            <div class="row">
                                                <div class="col-6"> <span class="lead-sm">ORDERS</span>
                                                </div>
                                                <div class="col-6 text-right"> <small>TODAY</small>
                                                </div>
                                                <div class="col-12">
                                                    <div class="lead-huge text-danger py-2"><strong>8</strong>
                                                    </div>
                                                </div>
                                                <div class="col-6">TOTAL</div>
                                                <div class="col-6 text-right">WEEK</div>
                                                <div class="col-6"> <span class="text-danger">2,500</span>
                                                </div>
                                                <div class="col-6 text-right"><span class="text-danger">20</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col brd-side --brd-left">
                                            <div class="row">
                                                <div class="col-6"> <span class="lead-sm">ORDERS</span>
                                                </div>
                                                <div class="col-6 text-right">TODAY</div>
                                                <div class="col-12">
                                                    <div class="lead-huge text-warning py-2"><strong>$8.9K</strong>
                                                    </div>
                                                </div>
                                                <div class="col-6"> <small>TOTAL</small>
                                                </div>
                                                <div class="col-6 text-right">WEEK</div>
                                                <div class="col-6"> <span class="text-warning">2,500</span>
                                                </div>
                                                <div class="col-6 text-right"><span class="text-warning">20</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="myChart-3" style="height:208px; width: 100%" class="mb-3"></div><small class="text-muted">NPS standx for Not Promote Score</small>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-5 col-12 row__col">
                            <div class="card card-block h-100">
                                <heaer class="card__header">
                                    <div class="row">
                                        <div class="col col-auto"><b class="card__title">Top Sales Reps</b>
                                        </div>
                                        <div class="col text-right"><span class="badge badge-default text-default mr-3">$</span>
                                            <input type="daterange" name="daterange" data-position="center" id="top_sales_reps" class="daterange">
                                            <label for="top_sales_reps"><i class="fa fa-angle-down"></i>
                                            </label>
                                        </div>
                                    </div>
                                </heaer>
                                <div class="card-body h-100">
                                    <div id="myChart-4" style="height:300px; width: 100%" class="mb-3"></div><small class="text-muted">NPS standx for Not Promote Score</small>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-7 col-12 row__col">
                            <div class="card card-block h-100">
                                <heaer class="card__header"><b class="card__title">Two Year Performance</b>
                                </heaer>
                                <div class="card-body h-100">
                                    <div id="myChart-5" style="height:270px; width: 100%" class="mb-3"></div>
                                    <div class="d-flex justify-content-between mb-3">
                                        <div>
                                            <div class="d-flex justify-content-between">
                                                <div class="text-muted">Sales</div>
                                                <div class="mx-3">$400k</div>
                                                <div><span class="badge badge-success"><i class="fa fa-angle-down mr-1"></i>8.5%</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div>
                                            <div class="d-flex justify-content-between">
                                                <div class="text-muted">Cost</div>
                                                <div class="mx-3">-$200k</div>
                                                <div><span class="badge badge-success"><i class="fa fa-angle-up mr-1"></i>5.6%</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div>
                                            <div class="d-flex justify-content-between">
                                                <div class="text-muted">Profit</div>
                                                <div class="mx-3">-$80k</div>
                                                <div><span class="badge badge-danger"><i class="fa fa-angle-down mr-1"></i>5.6%</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div><small class="text-muted">NPS standx for Not Promote Score</small>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-7 col-12 row__col">
                            <div class="card card-block h-100">
                                <heaer class="card__header">
                                    <div class="row">
                                        <div class="col col-auto"><b class="card__title">Sales per Staff per Weekday</b>
                                        </div>
                                        <div class="col text-right"><span class="badge badge-default text-default mr-3">qty</span>
                                            <input type="daterange" name="daterange" data-position="center" id="sales_per_staff_per_weekday" class="daterange">
                                            <label for="sales_per_staff_per_weekday"><i class="fa fa-angle-down"></i>
                                            </label>
                                        </div>
                                    </div>
                                </heaer>
                                <div class="card-body h-100">
                                    <div id="myChart-6" style="height:380px; width: 100%"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-5 col-md-6 row__col">
                            <div class="card card-block h-100">
                                <div class="card-body h-100">
                                    <div class="uchat">
                                        <div class="row uchat__credential">
                                            <div class="col">
                                                <div class="uchat__interlocutor">
                                                    <div class="uchat__interlocutor-img">
                                                        <img data-src="holder.js/40x40?auto=yes&amp;theme=sky" alt="Nirmala" height="40" width="40" class="rounded-circle mr-2">
                                                        <uchat__interlocutor-status class="bg-primary"></uchat__interlocutor-status>
                                                    </div><span class="d-inline-block">Gista Putri</span>
                                                </div>
                                            </div>
                                            <div class="col col-auto">
                                                <div class="md-form iconed-field --left"><i class="fa fa-search text-muted"></i>
                                                    <input type="text" placeholder="Search" class="form-control no-brd">
                                                </div>
                                            </div>
                                        </div>
                                        <div style="height:280px" class="uchat__messsages">
                                            <div class="text-left">
                                                <div class="uchat__messsage --partner">
                                                    <div class="uchat__text bg-primary text-white">
                                                        <p>Hello, baby</p>
                                                        <p>are you free tonight ?</p>
                                                    </div>
                                                    <div class="text-right">2:10 PM</div>
                                                </div>
                                            </div>
                                            <div class="text-right">
                                                <div class="uchat__messsage --mine">
                                                    <div class="uchat__text bg-secondary">
                                                        <p>Hi!!!! yes maybe</p>
                                                    </div>
                                                    <div class="text-left">2:11 PM</div>
                                                </div>
                                            </div>
                                            <div class="text-left">
                                                <div class="uchat__messsage --partner">
                                                    <div class="uchat__text bg-primary text-white">
                                                        <p>Okay I pickup you at 8 PM</p>
                                                    </div>
                                                    <div class="text-right">2:12 PM</div>
                                                </div>
                                            </div>
                                            <div class="text-right">
                                                <div class="uchat__messsage --mine">
                                                    <div class="uchat__text bg-secondary">
                                                        <p>Hi!!!! yes maybe</p>
                                                    </div>
                                                    <div class="text-left">2:11 PM</div>
                                                </div>
                                            </div>
                                            <div class="text-left">
                                                <div class="uchat__messsage --partner">
                                                    <div class="uchat__text bg-primary text-white">
                                                        <p>Okay I pickup you at 8 PM</p>
                                                    </div>
                                                    <div class="text-right">2:12 PM</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="md-form iconed-field --right my-0">
                                            <button type="button"><i class="fa fa-send text-primary"></i>
                                            </button>
                                            <input type="text" placeholder="Type your message" class="my-0">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-7 col-md-6 col-12 row__col">
                            <div class="card card-block h-100">
                                <heaer class="card__header"><b class="card__title">Satisfaction by Age Group</b>
                                </heaer>
                                <div class="card-body h-100">
                                    <div class="row">
                                        <div class="col">
                                            <div id="myChart-7" style="height:320px; width: 100%"></div>
                                        </div>
                                        <div class="col">
                                            <div id="myChart-7-2" style="height:320px; width: 100%"></div>
                                        </div>
                                        <div class="col">
                                            <div id="myChart-7-3" style="height:320px; width: 100%"></div>
                                        </div>
                                        <div class="col">
                                            <div id="myChart-7-4" style="height:320px; width: 100%"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-5 col-12 row__col">
                            <div class="card card-block h-100">
                                <heaer class="card__header"><b class="card__title">Customer Profile</b>
                                </heaer>
                                <div class="card-body h-100">
                                    <div id="myChart-8" style="height:350px; width: 100%"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
            <!--/Main layout-->
        </div>
        <div class="page__footer">
            <footer class="footer"></footer>
        </div>
        <script src="static/js/separate-js/jquery-3.1.1.min.js"></script>
        <script src="static/js/separate-js/moment.min.js"></script>
        <script src="static/js/separate-js/daterangepicker.js"></script>
        <script src="static/js/separate-js/my.js"></script>
        <script src="static/js/separate-js/holder.min.js"></script>
        <script src="static/js/separate-js/tether.min.js"></script>
        <script src="static/js/separate-js/bootstrap.min.js"></script>
        <script src="static/js/separate-js/mdb.min.js"></script>
        <script src="static/js/separate-js/highcharts.js"></script>
        <script src="static/js/separate-js/highcharts-more.js"></script>
        <script src="static/js/separate-js/highcharts-solid-gauge.js"></script>
        <script src="static/js/separate-js/highcharts-heatmap.js"></script>
        <!--script(src='static/js/separate-js/highcharts-exporting.js')-->
        <script src="static/js/main.min.js"></script>
    </body>

</html>
