markup/pages/login.jade
doctype html
html(class="no-js", lang="ru")

    include ../components/head/head
    include ../components/header/header
    include ../components/foot/foot
    include ../components/footer/footer

    head
        +head(head.defaults)
    body.page.fixed-sn
        div.page__wrapper

            div.uauth
                form(action="#", method="post")
                    div.card.card-block
                        div.card-body.p-sm-3
                            div.title.text-primary.text-center.pt-3 POS APP
                            div.text-muted.mb-5.text-center
                                small Please enter your user information.

                            div.uauth__field.form-group.mb-3
                                input.form-control.form-control-lg(type="text", value="", placeholder="Username")
                            div.uauth__field.form-group.mb-3
                                input.form-control.form-control-lg(type="password", value="", placeholder="Password")
                                span.uauth__fieldicon.text-muted(href="#")
                                    i.fa.fa-eye
                            div.uauth__field.form-group.mb-4.pb-2
                                div.row
                                    div.col.col-6
                                        input.filled-in(type="checkbox", value="1", name="remember", id="remember_me")
                                        label(for="remember_me")
                                            small.text-muted Remember Me
                                    div.col.col-6.text-md-right
                                        small 
                                            a(href="#") Forgot password?
                            div.uauth__field.mb-4.pb-2
                                button.btn.btn-block.btn-primary.btn-lg.uauth__btn.mb-0(type="submit", value="Sign me in") Sign me in
                            div.mb-3
                                div.border-around.--dashed.text-muted
                                    span.bg-white Or
                            div.text-center
                                span.lead-sm
                                    |Create an account? &nbsp;
                                    a(href="#") Sign up here!
        +foot()

builds/build_ver-Fri_Apr_28_2017_14_48_31/login.html
<!DOCTYPE html>
<html lang="ru" class="no-js">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>default title</title>
        <meta content="" name="description">
        <meta content="" name="keywords">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta content="telephone=no" name="format-detection">
        <meta name="HandheldFriendly" content="true">

        <!--[if (gt IE 9)|!(IE)]><!-->
        <link href="static/css/main.min.css" rel="stylesheet" type="text/css">
        <!--<![endif]-->
        <meta property="og:title" content="default title">
        <meta property="og:title" content="">
        <meta property="og:url" content="">
        <meta property="og:description" content="">
        <meta property="og:image" content="">
        <meta property="og:image:type" content="image/jpeg">
        <meta property="og:image:width" content="500">
        <meta property="og:image:height" content="300">
        <meta property="twitter:description" content="">
        <link rel="image_src" href="">
        <link rel="icon" type="image/x-icon" href="favicon.ico">
        <script>
            (function(H){H.className=H.className.replace(/\bno-js\b/,'js')})(document.documentElement)
        </script>
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700" rel="stylesheet">
    </head>

    <body class="page fixed-sn">
        <div class="page__wrapper">
            <div class="uauth">
                <form action="#" method="post">
                    <div class="card card-block">
                        <div class="card-body p-sm-3">
                            <div class="title text-primary text-center pt-3">POS APP</div>
                            <div class="text-muted mb-5 text-center"><small>Please enter your user information.</small>
                            </div>
                            <div class="uauth__field form-group mb-3">
                                <input type="text" value="" placeholder="Username" class="form-control form-control-lg">
                            </div>
                            <div class="uauth__field form-group mb-3">
                                <input type="password" value="" placeholder="Password" class="form-control form-control-lg"><span href="#" class="uauth__fieldicon text-muted"><i class="fa fa-eye"></i></span>
                            </div>
                            <div class="uauth__field form-group mb-4 pb-2">
                                <div class="row">
                                    <div class="col col-6">
                                        <input type="checkbox" value="1" name="remember" id="remember_me" class="filled-in">
                                        <label for="remember_me"><small class="text-muted">Remember Me</small>
                                        </label>
                                    </div>
                                    <div class="col col-6 text-md-right"><small> <a href="#">Forgot password?</a></small>
                                    </div>
                                </div>
                            </div>
                            <div class="uauth__field mb-4 pb-2">
                                <button type="submit" value="Sign me in" class="btn btn-block btn-primary btn-lg uauth__btn mb-0">Sign me in</button>
                            </div>
                            <div class="mb-3">
                                <div class="border-around --dashed text-muted"><span class="bg-white">Or</span>
                                </div>
                            </div>
                            <div class="text-center"><span class="lead-sm">Create an account? &nbsp;<a href="#">Sign up here!</a></span>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <script src="static/js/separate-js/jquery-3.1.1.min.js"></script>
        <script src="static/js/separate-js/my.js"></script>
        <script src="static/js/separate-js/holder.min.js"></script>
        <script src="static/js/separate-js/tether.min.js"></script>
        <script src="static/js/separate-js/bootstrap.min.js"></script>
        <script src="static/js/separate-js/mdb.min.js"></script>
        <script src="static/js/separate-js/highcharts.js"></script>
        <script src="static/js/separate-js/highcharts-more.js"></script>
        <script src="static/js/separate-js/highcharts-solid-gauge.js"></script>
        <script src="static/js/separate-js/highcharts-heatmap.js"></script>
        <!--script(src='static/js/separate-js/highcharts-exporting.js')-->
        <script src="static/js/main.min.js"></script>
    </body>

</html>
