builds/build_ver-Thu_May_04_2017_15_30_14/orders.html
<!DOCTYPE html>
<html lang="ru" class="no-js">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>default title</title>
        <meta content="" name="description">
        <meta content="" name="keywords">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta content="telephone=no" name="format-detection">
        <meta name="HandheldFriendly" content="true">

        <!--[if (gt IE 9)|!(IE)]><!-->
        <link href="static/css/main.min.css" rel="stylesheet" type="text/css">
        <!--<![endif]-->
        <meta property="og:title" content="default title">
        <meta property="og:title" content="">
        <meta property="og:url" content="">
        <meta property="og:description" content="">
        <meta property="og:image" content="">
        <meta property="og:image:type" content="image/jpeg">
        <meta property="og:image:width" content="500">
        <meta property="og:image:height" content="300">
        <meta property="twitter:description" content="">
        <link rel="image_src" href="">
        <link rel="icon" type="image/x-icon" href="favicon.ico">
        <script>
            (function(H){H.className=H.className.replace(/\bno-js\b/,'js')})(document.documentElement)
        </script>
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700" rel="stylesheet">
    </head>

    <body class="page fixed-sn">
        <div class="page__wrapper">
            <div class="page__header">
                <!--Double navigation-->
                <div class="header">
                    <!-- Sidebar navigation -->
                    <ul id="slide-out" class="side-nav bg-primary custom-scrollbar fixed">
                        <!-- Logo -->
                        <li>
                            <div class="logo-wrapper">
                                <a href="/" class="waves-effect scrolling-navbar"> <span>POS App</span>
                                </a>
                            </div>
                        </li>
                        <!--/. Logo -->
                        <li>
                            <ul class="collapsible collapsible-accordion">
                                <li><a href="dashboard.html" class="waves-effect arrow-r"><i class="fa fa-icon fa-dashboard"></i>Dashboard</a>
                                </li>
                                <li><a href="#" class="collapsible-header waves-effect arrow-r active"><i class="fa fa-icon fa-tag"></i>Sales<i class="fa fa-angle-down rotate-icon"></i></a>
                                    <div class="collapsible-body">
                                        <ul>
                                            <li><a href="add-invoice.html" class="waves-effect"><i class="fa fa-circle-thin"> </i>Add invoice</a>
                                            </li>
                                            <li><a href="view-invoice.html" class="waves-effect"><i class="fa fa-circle-thin"> </i>View invoice</a>
                                            </li>
                                            <li><a href="orders.html" class="waves-effect active"><i class="fa fa-circle-thin"> </i>Orders</a>
                                            </li>
                                            <li><a href="add-product.html" class="waves-effect"><i class="fa fa-circle-thin"> </i>Add product</a>
                                            </li>
                                            <li><a href="pos-1.html" class="waves-effect"><i class="fa fa-circle-thin"> </i>POS</a>
                                            </li>
                                            <li><a href="pos-2.html" class="waves-effect"><i class="fa fa-circle-thin"> </i>POS 2</a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li><a href="#" class="collapsible-header waves-effect arrow-r"><i class="fa fa-icon fa-pencil-square-o"></i>UI Features<i class="fa fa-angle-down rotate-icon"></i></a>
                                    <div class="collapsible-body">
                                        <ul>
                                            <li><a href="bootstrap-grid.html" class="waves-effect"><i class="fa fa-circle-thin"> </i>Bootstrap grid</a>
                                            </li>
                                            <li><a href="colors.html" class="waves-effect"><i class="fa fa-circle-thin"> </i>Colors</a>
                                            </li>
                                            <li><a href="icons-list.html" class="waves-effect"><i class="fa fa-circle-thin"> </i>Icons list</a>
                                            </li>
                                            <li><a href="alerts.html" class="waves-effect"><i class="fa fa-circle-thin"> </i>Alerts</a>
                                            </li>
                                            <li><a href="modals.html" class="waves-effect"><i class="fa fa-circle-thin"> </i>Modals</a>
                                            </li>
                                            <li><a href="buttons.html" class="waves-effect"><i class="fa fa-circle-thin"> </i>Buttons</a>
                                            </li>
                                            <li><a href="social-buttons.html" class="waves-effect"><i class="fa fa-circle-thin"> </i>Social buttons</a>
                                            </li>
                                            <li><a href="typography.html" class="waves-effect"><i class="fa fa-circle-thin"> </i>Typography</a>
                                            </li>
                                            <li><a href="tabs-pills.html" class="waves-effect"><i class="fa fa-circle-thin"> </i>Tabs &amp; Pills</a>
                                            </li>
                                            <li><a href="tags-badges-labels.html" class="waves-effect"><i class="fa fa-circle-thin"> </i>Tags, Badges &amp; Labels</a>
                                            </li>
                                            <li><a href="progress-bars.html" class="waves-effect"><i class="fa fa-circle-thin"> </i>Progress Bars</a>
                                            </li>
                                            <li><a href="waves-effect.html" class="waves-effect"><i class="fa fa-circle-thin"> </i>Waves effect</a>
                                            </li>
                                            <li><a href="tooltips.html" class="waves-effect"><i class="fa fa-circle-thin"> </i>Tooltips</a>
                                            </li>
                                            <li><a href="material-select.html" class="waves-effect"><i class="fa fa-circle-thin"> </i>Panels</a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li><a href="#" class="collapsible-header waves-effect arrow-r"><i class="fa fa-icon fa-pencil-square-o"></i>UI Kits<i class="fa fa-angle-down rotate-icon"></i></a>
                                    <div class="collapsible-body">
                                        <ul>
                                            <li><a href="#" class="waves-effect"><i class="fa fa-circle-thin"> </i>Interface</a>
                                            </li>
                                            <li><a href="#" class="waves-effect"><i class="fa fa-circle-thin"> </i>Tools</a>
                                            </li>
                                            <li><a href="#" class="waves-effect"><i class="fa fa-circle-thin"> </i>Hints and tips</a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li><a href="#" class="collapsible-header waves-effect arrow-r"><i class="fa fa-icon fa-table"></i>Table<i class="fa fa-angle-down rotate-icon"></i></a>
                                    <div class="collapsible-body">
                                        <ul>
                                            <li><a href="#" class="waves-effect"><i class="fa fa-circle-thin"> </i>Database</a>
                                            </li>
                                            <li><a href="#" class="waves-effect"><i class="fa fa-circle-thin"> </i>CSS</a>
                                            </li>
                                            <li><a href="#" class="waves-effect"><i class="fa fa-circle-thin"> </i>Components</a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li><a href="#" class="collapsible-header waves-effect arrow-r"><i class="fa fa-icon fa-wpforms"></i>Add item 2<i class="fa fa-angle-down rotate-icon"></i></a>
                                    <div class="collapsible-body">
                                        <ul>
                                            <li><a href="#" class="waves-effect"><i class="fa fa-circle-thin"> </i>Login</a>
                                            </li>
                                            <li><a href="#" class="waves-effect"><i class="fa fa-circle-thin"> </i>Register</a>
                                            </li>
                                            <li><a href="#" class="waves-effect"><i class="fa fa-circle-thin"> </i>Add new</a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <!--/. Sidebar navigation -->
                    <!--Navbar-->
                    <nav class="navbar fixed-top navbar-toggleable-md navbar-light scrolling-navbar double-nav">
                        <!-- SideNav slide-out button -->
                        <div class="float-left"><a href="#" data-activates="slide-out" class="button-collapse"><i class="fa fa-bars"></i></a>
                        </div>
                        <!-- /SideNav slide-out button -->
                        <!-- Breadcrumb-->
                        <div class="breadcrumb-dn mr-3">
                            <p>Orders</p>
                        </div>
                        <!-- /Breadcrumb-->
                        <form class="form-inline waves-effect waves-light brd-side --brd-left mr-auto ml-2 pl-3">
                            <div class="md-form iconed-field --left"><i class="fa fa-search text-muted"></i>
                                <input type="text" placeholder="Search" class="my-0">
                            </div>
                        </form>
                        <!-- nav-bar -->
                        <ul class="nav navbar-nav nav-flex-icons">
                            <li class="nav-item dropdown"><a href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link dropdown-toggle --arrow-down"><i class="fa fa-user-circle"></i><b class="hidden-sm-down">Hi, Nirmala</b></a>
                                <div class="dropdown-menu dropdown-menu-right"><a class="dropdown-item">Account</a><a class="dropdown-item">Orders</a><a class="dropdown-item">Invoice</a><a class="dropdown-item">Logout</a>
                                </div>
                            </li>
                            <!-- /nav-bar -->
                        </ul>
                        <!--/.Navbar-->
                    </nav>
                </div>
                <!--/Double navigation-->
            </div>
            <!--Main layout-->
            <main>
                <div class="container-fluid">
                    <div class="card">
                        <div class="card-header card__header --no-brd">
                            <div class="card-block pb-0">
                                <div class="row">
                                    <div class="col col-md-auto col-12 sortby text-md-left text-center">
                                        <div class="sortby__name lead">Bulk Action</div>
                                        <div class="sortby__select md-form vTop">
                                            <select class="--no-brd my-0">
                                                <option value="">Select option</option>
                                                <option value="1">Option</option>
                                                <option value="1">Option Option Option</option>
                                            </select>
                                        </div><a href="#" class="btn btn-secondary">GO</a>
                                    </div>
                                    <div class="col text-md-right text-center upager"><span class="text-muted mx-2">1-50 of 2500</span><a href="#" class="badge badge-white --big mx-1"><i class="fa fa-angle-left"> </i></a><a href="#" class="badge badge-default --big mx-1"><i class="fa fa-angle-right"> </i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive fixed-size">
                                <table class="table table-striped mb-0">
                                    <thead>
                                        <tr>
                                            <th class="text-right">
                                                <input type="checkbox" value="all" name="orders" id="all" class="md-checkbox">
                                                <label for="all"></label>
                                            </th>
                                            <th class="text-left">Order</th>
                                            <th class="text-left">Purchase on</th>
                                            <th class="text-left">Customer</th>
                                            <th class="text-left">Ship to</th>
                                            <th class="text-left">Purchase Price</th>
                                            <th>Status</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="text-right">
                                                <input type="checkbox" value="0" name="orders" id="check-0" class="md-checkbox">
                                                <label for="check-0"></label>
                                            </td>
                                            <td>009</td>
                                            <td>Mar 1, 2017</td>
                                            <td>Anggita Rusma</td>
                                            <td>Tampa Florida, JK 178192, USA</td>
                                            <td>$ 500.80</td>
                                            <td class="text-center"><span href="#" class="badge badge-danger --small">Closed</span>
                                            </td>
                                            <td class="text-center"><a href="#" class="badge badge-default --small text-default">View</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="text-right">
                                                <input type="checkbox" value="1" name="orders" id="check-1" class="md-checkbox">
                                                <label for="check-1"></label>
                                            </td>
                                            <td>009</td>
                                            <td>Mar 1, 2017</td>
                                            <td>Anggita Rusma</td>
                                            <td>Tampa Florida, JK 178192, USA</td>
                                            <td>$ 500.80</td>
                                            <td class="text-center"><span href="#" class="badge badge-danger --small">Closed</span>
                                            </td>
                                            <td class="text-center"><a href="#" class="badge badge-default --small text-default">View</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="text-right">
                                                <input type="checkbox" value="2" name="orders" id="check-2" class="md-checkbox">
                                                <label for="check-2"></label>
                                            </td>
                                            <td>009</td>
                                            <td>Mar 1, 2017</td>
                                            <td>Anggita Rusma</td>
                                            <td>Tampa Florida, JK 178192, USA</td>
                                            <td>$ 500.80</td>
                                            <td class="text-center"><span href="#" class="badge badge-danger --small">Closed</span>
                                            </td>
                                            <td class="text-center"><a href="#" class="badge badge-default --small text-default">View</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="text-right">
                                                <input type="checkbox" value="3" name="orders" id="check-3" class="md-checkbox">
                                                <label for="check-3"></label>
                                            </td>
                                            <td>009</td>
                                            <td>Mar 1, 2017</td>
                                            <td>Anggita Rusma</td>
                                            <td>Tampa Florida, JK 178192, USA</td>
                                            <td>$ 500.80</td>
                                            <td class="text-center"><span href="#" class="badge badge-danger --small">Closed</span>
                                            </td>
                                            <td class="text-center"><a href="#" class="badge badge-default --small text-default">View</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="text-right">
                                                <input type="checkbox" value="4" name="orders" id="check-4" class="md-checkbox">
                                                <label for="check-4"></label>
                                            </td>
                                            <td>009</td>
                                            <td>Mar 1, 2017</td>
                                            <td>Anggita Rusma</td>
                                            <td>Tampa Florida, JK 178192, USA</td>
                                            <td>$ 500.80</td>
                                            <td class="text-center"><span href="#" class="badge badge-danger --small">Closed</span>
                                            </td>
                                            <td class="text-center"><a href="#" class="badge badge-default --small text-default">View</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="text-right">
                                                <input type="checkbox" value="5" name="orders" id="check-5" class="md-checkbox">
                                                <label for="check-5"></label>
                                            </td>
                                            <td>009</td>
                                            <td>Mar 1, 2017</td>
                                            <td>Anggita Rusma</td>
                                            <td>Tampa Florida, JK 178192, USA</td>
                                            <td>$ 500.80</td>
                                            <td class="text-center"><span href="#" class="badge badge-danger --small">Closed</span>
                                            </td>
                                            <td class="text-center"><a href="#" class="badge badge-default --small text-default">View</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="text-right">
                                                <input type="checkbox" value="6" name="orders" id="check-6" class="md-checkbox">
                                                <label for="check-6"></label>
                                            </td>
                                            <td>009</td>
                                            <td>Mar 1, 2017</td>
                                            <td>Anggita Rusma</td>
                                            <td>Tampa Florida, JK 178192, USA</td>
                                            <td>$ 500.80</td>
                                            <td class="text-center"><span href="#" class="badge badge-danger --small">Closed</span>
                                            </td>
                                            <td class="text-center"><a href="#" class="badge badge-default --small text-default">View</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="text-right">
                                                <input type="checkbox" value="7" name="orders" id="check-7" class="md-checkbox">
                                                <label for="check-7"></label>
                                            </td>
                                            <td>009</td>
                                            <td>Mar 1, 2017</td>
                                            <td>Anggita Rusma</td>
                                            <td>Tampa Florida, JK 178192, USA</td>
                                            <td>$ 500.80</td>
                                            <td class="text-center"><span href="#" class="badge badge-danger --small">Closed</span>
                                            </td>
                                            <td class="text-center"><a href="#" class="badge badge-default --small text-default">View</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="text-right">
                                                <input type="checkbox" value="8" name="orders" id="check-8" class="md-checkbox">
                                                <label for="check-8"></label>
                                            </td>
                                            <td>009</td>
                                            <td>Mar 1, 2017</td>
                                            <td>Anggita Rusma</td>
                                            <td>Tampa Florida, JK 178192, USA</td>
                                            <td>$ 500.80</td>
                                            <td class="text-center"><span href="#" class="badge badge-danger --small">Closed</span>
                                            </td>
                                            <td class="text-center"><a href="#" class="badge badge-default --small text-default">View</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="text-right">
                                                <input type="checkbox" value="9" name="orders" id="check-9" class="md-checkbox">
                                                <label for="check-9"></label>
                                            </td>
                                            <td>009</td>
                                            <td>Mar 1, 2017</td>
                                            <td>Anggita Rusma</td>
                                            <td>Tampa Florida, JK 178192, USA</td>
                                            <td>$ 500.80</td>
                                            <td class="text-center"><span href="#" class="badge badge-danger --small">Closed</span>
                                            </td>
                                            <td class="text-center"><a href="#" class="badge badge-default --small text-default">View</a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
            <!--/Main layout-->
        </div>
        <div class="page__footer">
            <footer class="footer"></footer>
        </div>
        <script src="static/js/separate-js/jquery-3.1.1.min.js"></script>
        <script src="static/js/separate-js/moment.min.js"></script>
        <script src="static/js/separate-js/daterangepicker.js"></script>
        <script src="static/js/separate-js/my.js"></script>
        <script src="static/js/separate-js/holder.min.js"></script>
        <script src="static/js/separate-js/tether.min.js"></script>
        <script src="static/js/separate-js/bootstrap.min.js"></script>
        <script src="static/js/separate-js/mdb.min.js"></script>
        <script src="static/js/separate-js/highcharts.js"></script>
        <script src="static/js/separate-js/highcharts-more.js"></script>
        <script src="static/js/separate-js/highcharts-solid-gauge.js"></script>
        <script src="static/js/separate-js/highcharts-heatmap.js"></script>
        <!--script(src='static/js/separate-js/highcharts-exporting.js')-->
        <script src="static/js/main.min.js"></script>
    </body>

</html>

markup/pages/orders.jade
doctype html
html(class="no-js", lang="ru")

    include ../components/head/head
    include ../components/header/header
    include ../components/foot/foot
    include ../components/footer/footer

    head
        +head(head.defaults)
    body.page.fixed-sn
        div.page__wrapper
            div.page__header
                +header('Orders', header)

            <!--Main layout-->
            main
                div.container-fluid
                    div.card
                        div.card-header.card__header.--no-brd
                            div.card-block.pb-0
                                div.row
                                    div.col.col-md-auto.col-12.sortby.text-md-left.text-center
                                        div.sortby__name.lead Bulk Action
                                        div.sortby__select.md-form.vTop
                                            select.--no-brd.my-0
                                                option(value="") Select option 
                                                option(value="1") Option 
                                                option(value="1") Option Option Option
                                        a.btn.btn-secondary(href="#") GO
                                    div.col.text-md-right.text-center.upager
                                        span.text-muted.mx-2 1-50 of 2500
                                        a.badge.badge-white.--big.mx-1(href="#")
                                            i.fa.fa-angle-left 
                                        a.badge.badge-default.--big.mx-1(href="#")
                                            i.fa.fa-angle-right 

                        div.card-body
                            div.table-responsive.fixed-size
                                table.table.table-striped.mb-0
                                    thead
                                        tr
                                            th.text-right
                                                input.md-checkbox(type="checkbox", value="all", name="orders", id="all")
                                                label(for="all")
                                            th.text-left Order
                                            th.text-left Purchase on
                                            th.text-left Customer
                                            th.text-left Ship to
                                            th.text-left Purchase Price
                                            th Status
                                            th Action
                                    tbody
                                        - for (var i = 0; i < 10; ++i)
                                            tr
                                                td.text-right
                                                    input.md-checkbox(type="checkbox", value=i, name="orders", id="check-"+i)
                                                    label(for="check-"+i)
                                                td 009
                                                td Mar 1, 2017
                                                td Anggita Rusma
                                                td Tampa Florida, JK 178192, USA
                                                td $ 500.80
                                                td.text-center
                                                    span.badge.badge-danger.--small(href="#") Closed
                                                td.text-center
                                                    a.badge.badge-default.--small.text-default(href="#") View
            <!--/Main layout-->

        .page__footer
            +footer()

        +foot()
