markup/pages/timesheet-entry.jade
doctype html
html(class="no-js", lang="ru")

    include ../components/head/head
    include ../components/header/header
    include ../components/foot/foot
    include ../components/footer/footer

    head
        +head(head.defaults)
    body.page.fixed-sn
        div.page__wrapper
            div.page__header
                +header('Timesheet Entry', header)

            <!--Main layout-->
            main
                div.container-fluid
                    div.card
                        div.card-header.card__header
                            div.card-block.pb-0
                                div.row
                                    div.col.col-md-auto.col-12.sortby.text-md-left.text-center
                                        div.sortby__name.lead.text-muted Name
                                        div.sortby__select.md-form
                                            select.my-0.--no-brd
                                                 option(value="") Albertus Jenius
                                                 option(value="1") Option 
                                                 option(value="1") Option Option Option
                                    div.col.text-md-right.text-center
                                        div.d-inline-block
                                            div.lead-xl 87
                                            small.text-muted Billable hours 
                                        div.d-inline-block.ml-4
                                            div.lead-xl 20
                                            small.text-muted Non-billable 
                        div.card-body
                            div.card-block.pb-0
                                div.text-center.upager.mb-4
                                    div.mb-3
                                        small.text-muted Week Ending
                                    a.badge.badge-white.--big.mx-1(href="#")
                                        i.fa.fa-angle-left 
                                    span.lead-sm.mx-2 March 21, 2017
                                    a.badge.badge-white.--big.mx-1(href="#")
                                        i.fa.fa-angle-right

                            div.table-responsive.fixed-size
                                table.table.table-bordered.utable.--spacing2x.--no-brd-aside.mb-0
                                    thead
                                        tr
                                            th.vmid.allotted-cell.--primary(style="with:16.67%")
                                                div
                                                    b.lead-sm Mon
                                                small.text-muted Mar 18, 2017
                                            th.vmid(style="width:16.67%")
                                                div
                                                    b.lead-sm Tue
                                            th.vmid(style="width:16.67%")
                                                div
                                                    b.lead-sm Wed
                                            th.vmid(style="width:16.67%")
                                                div
                                                    b.lead-sm Thu
                                            th.vmid(style="width:16.67%")
                                                div
                                                    b.lead-sm Fri
                                            th.vmid(style="width:16.67%")
                                                div
                                                    b.lead-sm Sat
                                    tbody
                                        tr
                                            td
                                                div
                                                    b.lead-sm Wallez App
                                                small.text-muted 3 hours
                                            td
                                            td
                                                div
                                                    b.lead-sm Lingel Learning
                                                small.text-muted 4 hours
                                            td
                                                div
                                                    b.lead-sm SBAC Bank App
                                                small.text-muted 4 hours
                                            td
                                            td
                                                div
                                                    b.lead-sm Dispar Official
                                                small.text-muted 4 hours
                                        tr
                                            td
                                                div
                                                    b.lead-sm.text-primary Wirez UI Kit
                                                small.text-muted 3 hours
                                            td
                                                    div
                                                        b.lead-sm Fintech App
                                                    small.text-muted 4 hours
                                            td
                                            td
                                            td
                                                div
                                                    b.lead-sm Akkly Web
                                                small.text-muted 4 hours
                                            td
                                                div
                                                    b.lead-sm Lingel Learning
                                                small.text-muted 4 hours
                                        tr
                                            td
                                                div
                                                    b.lead-sm Lingel Learning
                                                small.text-muted 3 hours
                                            td
                                            td
                                            td
                                            td
                                            td
                                                    div
                                                        b.lead-sm Fintech App
                                                    small.text-muted 4 hours
                                        tr
                                            td
                                                div
                                                    b.lead-sm SBAC Bank App
                                                small.text-muted 3 hours
                                            td 
                                                =' '
                                            td
                                            td
                                            td
                                            td
                                        tr
                                            td &nbsp;
                                            td
                                            td
                                            td
                                            td
                                            td
                                        tr
                                            td &nbsp;
                                            td
                                            td
                                            td
                                            td
                                            td

            <!--/Main layout-->

        .page__footer
            +footer()

        +foot()

builds/build_ver-Thu_May_04_2017_15_30_14/timesheet-entry.html
<!DOCTYPE html>
<html lang="ru" class="no-js">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>default title</title>
        <meta content="" name="description">
        <meta content="" name="keywords">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta content="telephone=no" name="format-detection">
        <meta name="HandheldFriendly" content="true">

        <!--[if (gt IE 9)|!(IE)]><!-->
        <link href="static/css/main.min.css" rel="stylesheet" type="text/css">
        <!--<![endif]-->
        <meta property="og:title" content="default title">
        <meta property="og:title" content="">
        <meta property="og:url" content="">
        <meta property="og:description" content="">
        <meta property="og:image" content="">
        <meta property="og:image:type" content="image/jpeg">
        <meta property="og:image:width" content="500">
        <meta property="og:image:height" content="300">
        <meta property="twitter:description" content="">
        <link rel="image_src" href="">
        <link rel="icon" type="image/x-icon" href="favicon.ico">
        <script>
            (function(H){H.className=H.className.replace(/\bno-js\b/,'js')})(document.documentElement)
        </script>
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700" rel="stylesheet">
    </head>

    <body class="page fixed-sn">
        <div class="page__wrapper">
            <div class="page__header">
                <!--Double navigation-->
                <div class="header">
                    <!-- Sidebar navigation -->
                    <ul id="slide-out" class="side-nav bg-primary custom-scrollbar fixed">
                        <!-- Logo -->
                        <li>
                            <div class="logo-wrapper">
                                <a href="/" class="waves-effect scrolling-navbar"> <span>POS App</span>
                                </a>
                            </div>
                        </li>
                        <!--/. Logo -->
                        <li>
                            <ul class="collapsible collapsible-accordion">
                                <li><a href="dashboard.html" class="waves-effect arrow-r"><i class="fa fa-icon fa-dashboard"></i>Dashboard</a>
                                </li>
                                <li><a href="#" class="collapsible-header waves-effect arrow-r"><i class="fa fa-icon fa-tag"></i>Sales<i class="fa fa-angle-down rotate-icon"></i></a>
                                    <div class="collapsible-body">
                                        <ul>
                                            <li><a href="add-invoice.html" class="waves-effect"><i class="fa fa-circle-thin"> </i>Add invoice</a>
                                            </li>
                                            <li><a href="view-invoice.html" class="waves-effect"><i class="fa fa-circle-thin"> </i>View invoice</a>
                                            </li>
                                            <li><a href="orders.html" class="waves-effect"><i class="fa fa-circle-thin"> </i>Orders</a>
                                            </li>
                                            <li><a href="add-product.html" class="waves-effect"><i class="fa fa-circle-thin"> </i>Add product</a>
                                            </li>
                                            <li><a href="pos-1.html" class="waves-effect"><i class="fa fa-circle-thin"> </i>POS</a>
                                            </li>
                                            <li><a href="pos-2.html" class="waves-effect"><i class="fa fa-circle-thin"> </i>POS 2</a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li><a href="#" class="collapsible-header waves-effect arrow-r"><i class="fa fa-icon fa-pencil-square-o"></i>UI Features<i class="fa fa-angle-down rotate-icon"></i></a>
                                    <div class="collapsible-body">
                                        <ul>
                                            <li><a href="bootstrap-grid.html" class="waves-effect"><i class="fa fa-circle-thin"> </i>Bootstrap grid</a>
                                            </li>
                                            <li><a href="colors.html" class="waves-effect"><i class="fa fa-circle-thin"> </i>Colors</a>
                                            </li>
                                            <li><a href="icons-list.html" class="waves-effect"><i class="fa fa-circle-thin"> </i>Icons list</a>
                                            </li>
                                            <li><a href="alerts.html" class="waves-effect"><i class="fa fa-circle-thin"> </i>Alerts</a>
                                            </li>
                                            <li><a href="modals.html" class="waves-effect"><i class="fa fa-circle-thin"> </i>Modals</a>
                                            </li>
                                            <li><a href="buttons.html" class="waves-effect"><i class="fa fa-circle-thin"> </i>Buttons</a>
                                            </li>
                                            <li><a href="social-buttons.html" class="waves-effect"><i class="fa fa-circle-thin"> </i>Social buttons</a>
                                            </li>
                                            <li><a href="typography.html" class="waves-effect"><i class="fa fa-circle-thin"> </i>Typography</a>
                                            </li>
                                            <li><a href="tabs-pills.html" class="waves-effect"><i class="fa fa-circle-thin"> </i>Tabs &amp; Pills</a>
                                            </li>
                                            <li><a href="tags-badges-labels.html" class="waves-effect"><i class="fa fa-circle-thin"> </i>Tags, Badges &amp; Labels</a>
                                            </li>
                                            <li><a href="progress-bars.html" class="waves-effect"><i class="fa fa-circle-thin"> </i>Progress Bars</a>
                                            </li>
                                            <li><a href="waves-effect.html" class="waves-effect"><i class="fa fa-circle-thin"> </i>Waves effect</a>
                                            </li>
                                            <li><a href="tooltips.html" class="waves-effect"><i class="fa fa-circle-thin"> </i>Tooltips</a>
                                            </li>
                                            <li><a href="material-select.html" class="waves-effect"><i class="fa fa-circle-thin"> </i>Panels</a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li><a href="#" class="collapsible-header waves-effect arrow-r"><i class="fa fa-icon fa-pencil-square-o"></i>UI Kits<i class="fa fa-angle-down rotate-icon"></i></a>
                                    <div class="collapsible-body">
                                        <ul>
                                            <li><a href="#" class="waves-effect"><i class="fa fa-circle-thin"> </i>Interface</a>
                                            </li>
                                            <li><a href="#" class="waves-effect"><i class="fa fa-circle-thin"> </i>Tools</a>
                                            </li>
                                            <li><a href="#" class="waves-effect"><i class="fa fa-circle-thin"> </i>Hints and tips</a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li><a href="#" class="collapsible-header waves-effect arrow-r"><i class="fa fa-icon fa-table"></i>Table<i class="fa fa-angle-down rotate-icon"></i></a>
                                    <div class="collapsible-body">
                                        <ul>
                                            <li><a href="#" class="waves-effect"><i class="fa fa-circle-thin"> </i>Database</a>
                                            </li>
                                            <li><a href="#" class="waves-effect"><i class="fa fa-circle-thin"> </i>CSS</a>
                                            </li>
                                            <li><a href="#" class="waves-effect"><i class="fa fa-circle-thin"> </i>Components</a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li><a href="#" class="collapsible-header waves-effect arrow-r"><i class="fa fa-icon fa-wpforms"></i>Add item 2<i class="fa fa-angle-down rotate-icon"></i></a>
                                    <div class="collapsible-body">
                                        <ul>
                                            <li><a href="#" class="waves-effect"><i class="fa fa-circle-thin"> </i>Login</a>
                                            </li>
                                            <li><a href="#" class="waves-effect"><i class="fa fa-circle-thin"> </i>Register</a>
                                            </li>
                                            <li><a href="#" class="waves-effect"><i class="fa fa-circle-thin"> </i>Add new</a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <!--/. Sidebar navigation -->
                    <!--Navbar-->
                    <nav class="navbar fixed-top navbar-toggleable-md navbar-light scrolling-navbar double-nav">
                        <!-- SideNav slide-out button -->
                        <div class="float-left"><a href="#" data-activates="slide-out" class="button-collapse"><i class="fa fa-bars"></i></a>
                        </div>
                        <!-- /SideNav slide-out button -->
                        <!-- Breadcrumb-->
                        <div class="breadcrumb-dn mr-3">
                            <p>Timesheet Entry</p>
                        </div>
                        <!-- /Breadcrumb-->
                        <!-- nav-bar -->
                        <ul class="nav navbar-nav nav-flex-icons">
                            <li class="nav-item dropdown"><a href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link dropdown-toggle --arrow-down"><i class="fa fa-user-circle"></i><b class="hidden-sm-down">Hi, Nirmala</b></a>
                                <div class="dropdown-menu dropdown-menu-right"><a class="dropdown-item">Account</a><a class="dropdown-item">Orders</a><a class="dropdown-item">Invoice</a><a class="dropdown-item">Logout</a>
                                </div>
                            </li>
                            <!-- /nav-bar -->
                        </ul>
                        <!--/.Navbar-->
                    </nav>
                </div>
                <!--/Double navigation-->
            </div>
            <!--Main layout-->
            <main>
                <div class="container-fluid">
                    <div class="card">
                        <div class="card-header card__header">
                            <div class="card-block pb-0">
                                <div class="row">
                                    <div class="col col-md-auto col-12 sortby text-md-left text-center">
                                        <div class="sortby__name lead text-muted">Name</div>
                                        <div class="sortby__select md-form">
                                            <select class="my-0 --no-brd">
                                                <option value="">Albertus Jenius</option>
                                                <option value="1">Option</option>
                                                <option value="1">Option Option Option</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col text-md-right text-center">
                                        <div class="d-inline-block">
                                            <div class="lead-xl">87</div><small class="text-muted">Billable hours </small>
                                        </div>
                                        <div class="d-inline-block ml-4">
                                            <div class="lead-xl">20</div><small class="text-muted">Non-billable </small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="card-block pb-0">
                                <div class="text-center upager mb-4">
                                    <div class="mb-3"><small class="text-muted">Week Ending</small>
                                    </div><a href="#" class="badge badge-white --big mx-1"><i class="fa fa-angle-left"> </i></a><span class="lead-sm mx-2">March 21, 2017</span><a href="#" class="badge badge-white --big mx-1"><i class="fa fa-angle-right"></i></a>
                                </div>
                            </div>
                            <div class="table-responsive fixed-size">
                                <table class="table table-bordered utable --spacing2x --no-brd-aside mb-0">
                                    <thead>
                                        <tr>
                                            <th style="with:16.67%" class="vmid allotted-cell --primary">
                                                <div><b class="lead-sm">Mon</b>
                                                </div><small class="text-muted">Mar 18, 2017</small>
                                            </th>
                                            <th style="width:16.67%" class="vmid">
                                                <div><b class="lead-sm">Tue</b>
                                                </div>
                                            </th>
                                            <th style="width:16.67%" class="vmid">
                                                <div><b class="lead-sm">Wed</b>
                                                </div>
                                            </th>
                                            <th style="width:16.67%" class="vmid">
                                                <div><b class="lead-sm">Thu</b>
                                                </div>
                                            </th>
                                            <th style="width:16.67%" class="vmid">
                                                <div><b class="lead-sm">Fri</b>
                                                </div>
                                            </th>
                                            <th style="width:16.67%" class="vmid">
                                                <div><b class="lead-sm">Sat</b>
                                                </div>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <div><b class="lead-sm">Wallez App</b>
                                                </div><small class="text-muted">3 hours</small>
                                            </td>
                                            <td></td>
                                            <td>
                                                <div><b class="lead-sm">Lingel Learning</b>
                                                </div><small class="text-muted">4 hours</small>
                                            </td>
                                            <td>
                                                <div><b class="lead-sm">SBAC Bank App</b>
                                                </div><small class="text-muted">4 hours</small>
                                            </td>
                                            <td></td>
                                            <td>
                                                <div><b class="lead-sm">Dispar Official</b>
                                                </div><small class="text-muted">4 hours</small>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div><b class="lead-sm text-primary">Wirez UI Kit</b>
                                                </div><small class="text-muted">3 hours</small>
                                            </td>
                                            <td>
                                                <div><b class="lead-sm">Fintech App</b>
                                                </div><small class="text-muted">4 hours</small>
                                            </td>
                                            <td></td>
                                            <td></td>
                                            <td>
                                                <div><b class="lead-sm">Akkly Web</b>
                                                </div><small class="text-muted">4 hours</small>
                                            </td>
                                            <td>
                                                <div><b class="lead-sm">Lingel Learning</b>
                                                </div><small class="text-muted">4 hours</small>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div><b class="lead-sm">Lingel Learning</b>
                                                </div><small class="text-muted">3 hours</small>
                                            </td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td>
                                                <div><b class="lead-sm">Fintech App</b>
                                                </div><small class="text-muted">4 hours</small>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div><b class="lead-sm">SBAC Bank App</b>
                                                </div><small class="text-muted">3 hours</small>
                                            </td>
                                            <td>
                                            </td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>&nbsp;</td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>&nbsp;</td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
            <!--/Main layout-->
        </div>
        <div class="page__footer">
            <footer class="footer"></footer>
        </div>
        <script src="static/js/separate-js/jquery-3.1.1.min.js"></script>
        <script src="static/js/separate-js/moment.min.js"></script>
        <script src="static/js/separate-js/daterangepicker.js"></script>
        <script src="static/js/separate-js/my.js"></script>
        <script src="static/js/separate-js/holder.min.js"></script>
        <script src="static/js/separate-js/tether.min.js"></script>
        <script src="static/js/separate-js/bootstrap.min.js"></script>
        <script src="static/js/separate-js/mdb.min.js"></script>
        <script src="static/js/separate-js/highcharts.js"></script>
        <script src="static/js/separate-js/highcharts-more.js"></script>
        <script src="static/js/separate-js/highcharts-solid-gauge.js"></script>
        <script src="static/js/separate-js/highcharts-heatmap.js"></script>
        <!--script(src='static/js/separate-js/highcharts-exporting.js')-->
        <script src="static/js/main.min.js"></script>
    </body>

</html>
