markup/pages/view-invoice.jade
doctype html
html(class="no-js", lang="ru")

    include ../components/head/head
    include ../components/header/header
    include ../components/foot/foot
    include ../components/footer/footer

    head
        +head(head.defaults)
    body.page.fixed-sn
        div.page__wrapper
            div.page__header
                +header('View invoice', header)

            <!--Main layout-->
            main
                div.container-fluid
                    div.card.uinvoice
                        div.card-header.card__header.uinvoice__header
                            div.uinvoice__operation
                                a(href="#")
                                    i.fa.fa-print
                                a(href="#")
                                    i.fa.fa-pencil
                            div.row
                                div.col.col-xl-4.col-md-4.col-12
                                    div.uinvoice__logo
                                        img.img-fluid(data-src="holder.js/240x140?auto=yes&bg=ffffff&text=Company", alt="Nirmala", height="140", width="240")
                                    p 
                                        |Issued date: Mar 20th, 2017
                                        br
                                        |Net: NET 30
                                        br
                                        |Due date: Apr 21th, 2017
                                div.col.col-xl-3.col-md-4.col-12.uinvoice__credential
                                    div.mb-2.lead-sm.b
                                        div.mb-3 FROM
                                        p
                                            b.text-white Tamano LLC
                                            br
                                            span
                                                |3302 Wall Street,
                                                br
                                                |Carson City, Nevada 89129
                                                br
                                                |+1 (754) 423-9801
                                div.col.col-xl-3.col-md-4.col-12.uinvoice__credential
                                    div.mb-2.lead-sm.b
                                        div.mb-3 TO
                                        p
                                            b.text-white Tamano LLC
                                            br
                                            span
                                                |3302 Wall Street,
                                                br
                                                |Carson City, Nevada 89129
                                                br
                                                |+1 (754) 423-9801

                        div.card-body
                            div.table-responsive.fixed-size.mb-5
                                table.table.mb-0
                                    thead
                                        tr
                                            th.text-left 
                                                div.px-5.pb-2 ITEM
                                            th 
                                                div.pb-2 QUANTITY
                                            th 
                                                div.pb-2 PRICE
                                            th 
                                                div.pb-2 DISCOUNT
                                            th 
                                                div.pb-2 TAX
                                            th.text-right
                                                div.px-5.pb-2 LINE TOTAL
                                    tbody
                                        - for (var i = 0; i < 2; ++i)
                                            tr
                                                td 
                                                    div.lead-sm.py-3.px-5 MacBook Pro Ram 8Gb
                                                td.text-muted.text-center
                                                    div.lead.py-3-sm 2
                                                td.text-muted.text-center
                                                    div.lead.py-3 $800
                                                td.text-muted.text-center
                                                    div.lead.py-3 -5% 
                                                td.text-muted.text-center
                                                    div.lead.py-3 $2
                                                td.text-right
                                                    div.lead.py-3.px-5 $800

                            div.card-block
                                div.px-5.pb-3
                                    div.text-right.lead-sm.mb-3
                                        div.d-inline-block.subtotal-calc
                                            div.row.mb-2
                                                div.col.col-6.text-muted.text-left SUBTOTAL
                                                div.col.col-6 $1,129.90
                                            div.row
                                                div.col.col-6.text-muted.text-left TAX
                                                div.col.col-6 $129.90

                                    div.text-right.mb-5
                                        b.d-inline-block.mr-4.lead GRAND TOTAL
                                        b.d-inline-block.lead.text-primary $1.129.00


                                    div.row
                                        div.col.col-md-6.col-12.lead-sm
                                            p NOTE :
                                            p.text-muted Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla
                                        div.col.col-md-6.col-12.text-right.pt-3
                                            a.btn.btn-lg.btn-primary.mr-0(href="#") Pay Now
            <!--/Main layout-->

        .page__footer
            +footer()

        +foot()

builds/build_ver-Thu_May_04_2017_15_30_14/view-invoice.html
<!DOCTYPE html>
<html lang="ru" class="no-js">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>default title</title>
        <meta content="" name="description">
        <meta content="" name="keywords">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta content="telephone=no" name="format-detection">
        <meta name="HandheldFriendly" content="true">

        <!--[if (gt IE 9)|!(IE)]><!-->
        <link href="static/css/main.min.css" rel="stylesheet" type="text/css">
        <!--<![endif]-->
        <meta property="og:title" content="default title">
        <meta property="og:title" content="">
        <meta property="og:url" content="">
        <meta property="og:description" content="">
        <meta property="og:image" content="">
        <meta property="og:image:type" content="image/jpeg">
        <meta property="og:image:width" content="500">
        <meta property="og:image:height" content="300">
        <meta property="twitter:description" content="">
        <link rel="image_src" href="">
        <link rel="icon" type="image/x-icon" href="favicon.ico">
        <script>
            (function(H){H.className=H.className.replace(/\bno-js\b/,'js')})(document.documentElement)
        </script>
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700" rel="stylesheet">
    </head>

    <body class="page fixed-sn">
        <div class="page__wrapper">
            <div class="page__header">
                <!--Double navigation-->
                <div class="header">
                    <!-- Sidebar navigation -->
                    <ul id="slide-out" class="side-nav bg-primary custom-scrollbar fixed">
                        <!-- Logo -->
                        <li>
                            <div class="logo-wrapper">
                                <a href="/" class="waves-effect scrolling-navbar"> <span>POS App</span>
                                </a>
                            </div>
                        </li>
                        <!--/. Logo -->
                        <li>
                            <ul class="collapsible collapsible-accordion">
                                <li><a href="dashboard.html" class="waves-effect arrow-r"><i class="fa fa-icon fa-dashboard"></i>Dashboard</a>
                                </li>
                                <li><a href="#" class="collapsible-header waves-effect arrow-r active"><i class="fa fa-icon fa-tag"></i>Sales<i class="fa fa-angle-down rotate-icon"></i></a>
                                    <div class="collapsible-body">
                                        <ul>
                                            <li><a href="add-invoice.html" class="waves-effect"><i class="fa fa-circle-thin"> </i>Add invoice</a>
                                            </li>
                                            <li><a href="view-invoice.html" class="waves-effect active"><i class="fa fa-circle-thin"> </i>View invoice</a>
                                            </li>
                                            <li><a href="orders.html" class="waves-effect"><i class="fa fa-circle-thin"> </i>Orders</a>
                                            </li>
                                            <li><a href="add-product.html" class="waves-effect"><i class="fa fa-circle-thin"> </i>Add product</a>
                                            </li>
                                            <li><a href="pos-1.html" class="waves-effect"><i class="fa fa-circle-thin"> </i>POS</a>
                                            </li>
                                            <li><a href="pos-2.html" class="waves-effect"><i class="fa fa-circle-thin"> </i>POS 2</a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li><a href="#" class="collapsible-header waves-effect arrow-r"><i class="fa fa-icon fa-pencil-square-o"></i>UI Features<i class="fa fa-angle-down rotate-icon"></i></a>
                                    <div class="collapsible-body">
                                        <ul>
                                            <li><a href="bootstrap-grid.html" class="waves-effect"><i class="fa fa-circle-thin"> </i>Bootstrap grid</a>
                                            </li>
                                            <li><a href="colors.html" class="waves-effect"><i class="fa fa-circle-thin"> </i>Colors</a>
                                            </li>
                                            <li><a href="icons-list.html" class="waves-effect"><i class="fa fa-circle-thin"> </i>Icons list</a>
                                            </li>
                                            <li><a href="alerts.html" class="waves-effect"><i class="fa fa-circle-thin"> </i>Alerts</a>
                                            </li>
                                            <li><a href="modals.html" class="waves-effect"><i class="fa fa-circle-thin"> </i>Modals</a>
                                            </li>
                                            <li><a href="buttons.html" class="waves-effect"><i class="fa fa-circle-thin"> </i>Buttons</a>
                                            </li>
                                            <li><a href="social-buttons.html" class="waves-effect"><i class="fa fa-circle-thin"> </i>Social buttons</a>
                                            </li>
                                            <li><a href="typography.html" class="waves-effect"><i class="fa fa-circle-thin"> </i>Typography</a>
                                            </li>
                                            <li><a href="tabs-pills.html" class="waves-effect"><i class="fa fa-circle-thin"> </i>Tabs &amp; Pills</a>
                                            </li>
                                            <li><a href="tags-badges-labels.html" class="waves-effect"><i class="fa fa-circle-thin"> </i>Tags, Badges &amp; Labels</a>
                                            </li>
                                            <li><a href="progress-bars.html" class="waves-effect"><i class="fa fa-circle-thin"> </i>Progress Bars</a>
                                            </li>
                                            <li><a href="waves-effect.html" class="waves-effect"><i class="fa fa-circle-thin"> </i>Waves effect</a>
                                            </li>
                                            <li><a href="tooltips.html" class="waves-effect"><i class="fa fa-circle-thin"> </i>Tooltips</a>
                                            </li>
                                            <li><a href="material-select.html" class="waves-effect"><i class="fa fa-circle-thin"> </i>Panels</a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li><a href="#" class="collapsible-header waves-effect arrow-r"><i class="fa fa-icon fa-pencil-square-o"></i>UI Kits<i class="fa fa-angle-down rotate-icon"></i></a>
                                    <div class="collapsible-body">
                                        <ul>
                                            <li><a href="#" class="waves-effect"><i class="fa fa-circle-thin"> </i>Interface</a>
                                            </li>
                                            <li><a href="#" class="waves-effect"><i class="fa fa-circle-thin"> </i>Tools</a>
                                            </li>
                                            <li><a href="#" class="waves-effect"><i class="fa fa-circle-thin"> </i>Hints and tips</a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li><a href="#" class="collapsible-header waves-effect arrow-r"><i class="fa fa-icon fa-table"></i>Table<i class="fa fa-angle-down rotate-icon"></i></a>
                                    <div class="collapsible-body">
                                        <ul>
                                            <li><a href="#" class="waves-effect"><i class="fa fa-circle-thin"> </i>Database</a>
                                            </li>
                                            <li><a href="#" class="waves-effect"><i class="fa fa-circle-thin"> </i>CSS</a>
                                            </li>
                                            <li><a href="#" class="waves-effect"><i class="fa fa-circle-thin"> </i>Components</a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li><a href="#" class="collapsible-header waves-effect arrow-r"><i class="fa fa-icon fa-wpforms"></i>Add item 2<i class="fa fa-angle-down rotate-icon"></i></a>
                                    <div class="collapsible-body">
                                        <ul>
                                            <li><a href="#" class="waves-effect"><i class="fa fa-circle-thin"> </i>Login</a>
                                            </li>
                                            <li><a href="#" class="waves-effect"><i class="fa fa-circle-thin"> </i>Register</a>
                                            </li>
                                            <li><a href="#" class="waves-effect"><i class="fa fa-circle-thin"> </i>Add new</a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <!--/. Sidebar navigation -->
                    <!--Navbar-->
                    <nav class="navbar fixed-top navbar-toggleable-md navbar-light scrolling-navbar double-nav">
                        <!-- SideNav slide-out button -->
                        <div class="float-left"><a href="#" data-activates="slide-out" class="button-collapse"><i class="fa fa-bars"></i></a>
                        </div>
                        <!-- /SideNav slide-out button -->
                        <!-- Breadcrumb-->
                        <div class="breadcrumb-dn mr-3">
                            <p>View invoice</p>
                        </div>
                        <!-- /Breadcrumb-->
                        <!-- nav-bar -->
                        <ul class="nav navbar-nav nav-flex-icons">
                            <li class="nav-item dropdown"><a href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link dropdown-toggle --arrow-down"><i class="fa fa-user-circle"></i><b class="hidden-sm-down">Hi, Nirmala</b></a>
                                <div class="dropdown-menu dropdown-menu-right"><a class="dropdown-item">Account</a><a class="dropdown-item">Orders</a><a class="dropdown-item">Invoice</a><a class="dropdown-item">Logout</a>
                                </div>
                            </li>
                            <!-- /nav-bar -->
                        </ul>
                        <!--/.Navbar-->
                    </nav>
                </div>
                <!--/Double navigation-->
            </div>
            <!--Main layout-->
            <main>
                <div class="container-fluid">
                    <div class="card uinvoice">
                        <div class="card-header card__header uinvoice__header">
                            <div class="uinvoice__operation"><a href="#"><i class="fa fa-print"></i></a><a href="#"><i class="fa fa-pencil"></i></a>
                            </div>
                            <div class="row">
                                <div class="col col-xl-4 col-md-4 col-12">
                                    <div class="uinvoice__logo">
                                        <img data-src="holder.js/240x140?auto=yes&amp;bg=ffffff&amp;text=Company" alt="Nirmala" height="140" width="240" class="img-fluid">
                                    </div>
                                    <p>

                                        Issued date: Mar 20th, 2017
                                        <br>Net: NET 30
                                        <br>Due date: Apr 21th, 2017
                                    </p>
                                </div>
                                <div class="col col-xl-3 col-md-4 col-12 uinvoice__credential">
                                    <div class="mb-2 lead-sm b">
                                        <div class="mb-3">FROM</div>
                                        <p><b class="text-white">Tamano LLC</b>
                                            <br><span>3302 Wall Street,<br>Carson City, Nevada 89129<br>+1 (754) 423-9801</span>
                                        </p>
                                    </div>
                                </div>
                                <div class="col col-xl-3 col-md-4 col-12 uinvoice__credential">
                                    <div class="mb-2 lead-sm b">
                                        <div class="mb-3">TO</div>
                                        <p><b class="text-white">Tamano LLC</b>
                                            <br><span>3302 Wall Street,<br>Carson City, Nevada 89129<br>+1 (754) 423-9801</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive fixed-size mb-5">
                                <table class="table mb-0">
                                    <thead>
                                        <tr>
                                            <th class="text-left">
                                                <div class="px-5 pb-2">ITEM</div>
                                            </th>
                                            <th>
                                                <div class="pb-2">QUANTITY</div>
                                            </th>
                                            <th>
                                                <div class="pb-2">PRICE</div>
                                            </th>
                                            <th>
                                                <div class="pb-2">DISCOUNT</div>
                                            </th>
                                            <th>
                                                <div class="pb-2">TAX</div>
                                            </th>
                                            <th class="text-right">
                                                <div class="px-5 pb-2">LINE TOTAL</div>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <div class="lead-sm py-3 px-5">MacBook Pro Ram 8Gb</div>
                                            </td>
                                            <td class="text-muted text-center">
                                                <div class="lead py-3-sm">2</div>
                                            </td>
                                            <td class="text-muted text-center">
                                                <div class="lead py-3">$800</div>
                                            </td>
                                            <td class="text-muted text-center">
                                                <div class="lead py-3">-5%</div>
                                            </td>
                                            <td class="text-muted text-center">
                                                <div class="lead py-3">$2</div>
                                            </td>
                                            <td class="text-right">
                                                <div class="lead py-3 px-5">$800</div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="lead-sm py-3 px-5">MacBook Pro Ram 8Gb</div>
                                            </td>
                                            <td class="text-muted text-center">
                                                <div class="lead py-3-sm">2</div>
                                            </td>
                                            <td class="text-muted text-center">
                                                <div class="lead py-3">$800</div>
                                            </td>
                                            <td class="text-muted text-center">
                                                <div class="lead py-3">-5%</div>
                                            </td>
                                            <td class="text-muted text-center">
                                                <div class="lead py-3">$2</div>
                                            </td>
                                            <td class="text-right">
                                                <div class="lead py-3 px-5">$800</div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="card-block">
                                <div class="px-5 pb-3">
                                    <div class="text-right lead-sm mb-3">
                                        <div class="d-inline-block subtotal-calc">
                                            <div class="row mb-2">
                                                <div class="col col-6 text-muted text-left">SUBTOTAL</div>
                                                <div class="col col-6">$1,129.90</div>
                                            </div>
                                            <div class="row">
                                                <div class="col col-6 text-muted text-left">TAX</div>
                                                <div class="col col-6">$129.90</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="text-right mb-5"><b class="d-inline-block mr-4 lead">GRAND TOTAL</b><b class="d-inline-block lead text-primary">$1.129.00</b>
                                    </div>
                                    <div class="row">
                                        <div class="col col-md-6 col-12 lead-sm">
                                            <p>NOTE :</p>
                                            <p class="text-muted">Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla</p>
                                        </div>
                                        <div class="col col-md-6 col-12 text-right pt-3"><a href="#" class="btn btn-lg btn-primary mr-0">Pay Now</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
            <!--/Main layout-->
        </div>
        <div class="page__footer">
            <footer class="footer"></footer>
        </div>
        <script src="static/js/separate-js/jquery-3.1.1.min.js"></script>
        <script src="static/js/separate-js/moment.min.js"></script>
        <script src="static/js/separate-js/daterangepicker.js"></script>
        <script src="static/js/separate-js/my.js"></script>
        <script src="static/js/separate-js/holder.min.js"></script>
        <script src="static/js/separate-js/tether.min.js"></script>
        <script src="static/js/separate-js/bootstrap.min.js"></script>
        <script src="static/js/separate-js/mdb.min.js"></script>
        <script src="static/js/separate-js/highcharts.js"></script>
        <script src="static/js/separate-js/highcharts-more.js"></script>
        <script src="static/js/separate-js/highcharts-solid-gauge.js"></script>
        <script src="static/js/separate-js/highcharts-heatmap.js"></script>
        <!--script(src='static/js/separate-js/highcharts-exporting.js')-->
        <script src="static/js/main.min.js"></script>
    </body>

</html>
